[2022-07-29 16:35] KubaMikolajczyk commented on #2973
Thank you guys for all of the feedback ❤️
Below I have a next hi-fi exploration of the YPP Landing page 👇
( Be aware that we will discuss here only Landing not the whole flow)
🎥 Loom video: https://www.loom.com/share/5595fb504d334ad99ac9478b2cf22810
📄 Figma files: https://www.figma.com/file/Mn2ay2F5pynPQND4nUFxHv/YPP%3A-Youtube-partnership-program?node-id=1291%3A45406

[2022-07-29 17:56] #2960 closed, assigned to DzhideX

[2022-07-29 17:56] dmtrjsg commented on #2960
Issue moved to [Joystream/marketing #266](https://github.com/Joystream/marketing/issues/266) via [**ZenHub**](https://www.zenhub.com/)

[2022-07-29 19:51] dmtrjsg opened #3050 "YPP Dashboard Page"
@dmtrjsg commented on [Fri Jul 29 2022](https://github.com/Joystream/marketing/issues/272)

[2022-07-29 19:52] dmtrjsg commented on #3050
@KubaMikolajczyk I've created this issue for completeness (tracking them int the other board as well).

[2022-07-30 08:29] bedeho commented on #2981
Thank you for this iteration @KubaMikolajczyk , a pleasure to review as always <3. Also let me commend you on all the variations you have tried and all the effort and evaluation that went into that, it really shows.

1. I really _love_ the clean menu free view, lets keep that.
2. Many of the header shots were really beautiful and compelling, but I think the last one indeed brought home the message

[2022-07-30 10:22] bedeho commented on #3004
# Addendum

I think for this to really be potent we would change the following

- Any member, not working group curators, can create categories. This is important for easy, nocode and permissionless deployment of new experimental instances that are differentiated in terms of new content verticals.
- Each Atlas instance filters on a set of these categories, `X`, globally as configured on build time

[2022-08-01 07:18] toiletgranny commented on #2959
@dmtrjsg To move this issue into the Design Review column, as a short summary, having both name and the logo already approved, all that is left to do is:

- Exploring and discussing together that capital "A" alternative version you asked for (~60 min),
- Updating components & flows (~60 min):
   - [Adding Atlas logo as a component here](https://www.figma.com/file/Cc3VDoK6qglJ617ChA2EMr/Foundation?

[2022-08-01 08:29] kdembler commented on #3004
I would like to better understand what a _display category_ is. Are those kept by the QN as well or do you imagine those being defined purely on the app (operator) level?

Secondly, I'm a bit skeptical of the "let's allow anyone to create a category" part. It will be cheap (it's metaprotocol) to spam QN with thousands of fake categories. This got me thinking a bit, do we even need categories store

[2022-08-01 08:49] kdembler commented on #3048
I would really prefer to not do this if possible.

This wasn't an issue previously, what has changed? Was this introduced by your PR with changes to the context menu? What data specifically do we need now that wasn't needed before?

[2022-08-01 08:51] kdembler commented on #3047
Yep, please see #539, closing this as a duplicate

[2022-08-01 08:51] #3047 closed, assigned to nobody

[2022-08-01 08:55] rafalpawlow commented on #3048
@kdembler Yes, this was introduced by my PR with context menu changes. Previously we didn't need any NFT data in viewer video tile, but since we add nft actions to it, we need to fetch whole NFT object.

[2022-08-01 10:46] dmtrjsg commented on #2959
Thank you for this Adam!

[2022-08-01 10:46] #2959 closed, assigned to toiletgranny, dmtrjsg

[2022-08-01 11:26] bedeho commented on #3004
No, they are purely application specific. Their purpose is to allow an independent and higher level of abstraction to the categories at the lower level. The main reason for this is because you can imagine the lowest level category space could encode very complex or granular notions about the content that are not ideal for organizing content in discovery. In this case, the user would probably not s

[2022-08-01 13:05] kdembler commented on #3004
Yeah I was considering this as well when writing my response, but my conclusion was that it actually doesn't help you much if the directory of categories is public - assuming writing to it is permissionless, even if you want to start a new instance and only include content from "Gaming" categories, there will likely be hundreds of those. So some amount of social coordination between operators to a

[2022-08-01 13:13] bedeho commented on #3004
I don't see how you get your conclusion here. The fact that there will be social coordination on semantics of categories does not negate the utility of having all content publicly labelled? I think we probably should discuss it later then ;)

[2022-08-01 13:14] bedeho commented on #3004
Obviously, same technique makes perfect sense for channels also.

[2022-08-01 14:00] dmtrjsg commented on #3004
This is a  somewhat technical convo going on here, and I am 100 sure you guys are arriving to the best infrastructure possible to support the vision.

Also its getting really hot in my flat now so forgive me if below is captain obvious, or irrelevant.

As a gateway operator I'd be interested in having access to easily navigable content dir, that is already curated by DAO content WG so has some deg

[2022-08-01 15:29] dmtrjsg commented on #2973
Loving it,

Further to Bedeho's comments:

1. Hero image

As discussed on the call, last iteration is a winner, but to overcome the discoverabilty issue some tuning is advisable.

Options that cross my mind:
- highlighting the vertical line it in a similar way as in the version before;
- making the "< >" nob a bit bigger may do the trick
- Copy could be made to peek out a bit more

2. Steps to tak

[2022-08-01 16:19] dmtrjsg commented on #2981
@bedeho just a few points of consideration on point 5, perhaps that may win you over to starting with a version that Kuba has suggested. Perhaps increase the size/ and have a slightly offset positioning from its exact one, in the last variation but overall I think this may actually work well 🤞

I think this location is beneficial from the pov of replicating it in the Channel Info section on every

[2022-08-01 17:29] dmtrjsg opened #3052 "Payouts: Overview widgets"
## Context
Originating Epic

* https://github.com/Joystream/atlas/issues/2401

## Design
Link> [to Figma](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1551%3A18303)

Preview:
![](https://user-images.githubusercontent.com/93924525/182209868-ba23d84e-1a63-4478-8fae-6ff8f847cadf.png)
![](https://user-images.githubusercontent.com/93924525/182209873-ef3e8ca6-9753-4294-ab95-273c

[2022-08-01 17:29] dmtrjsg opened #3053 "Claim Channel Payment Flow"
## Context
Originating Epic

* https://github.com/Joystream/atlas/issues/2401

## Design
Link to Figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1547%3A19340)

## Scope
* [ ] Claim CTA
* [ ] Modal to review fees
* [ ] Confirmation modal

## Out of scope
* [x] Insufficient Joy to cover tx fees/ null claim / claim more than balance (these do not apply based on ma

[2022-08-01 17:30] dmtrjsg opened #3054 "Withdraw Channel Payment Flow"
## Context
Originating Epic

* https://github.com/Joystream/atlas/issues/2401

## Design
Link to Figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1547%3A19347)

## Scope
* [ ] Add "Max" button next to the withdraw input > [implemented here](https://www.figma.com/file/uHzbhNX9dP4QtZbIapvZI6/Transfer-dialog?node-id=1013%3A5857)
* [ ] Take fees into account when do

[2022-08-01 17:30] dmtrjsg opened #3055 "Payout Transactions: Totals Earned and Withdrawn Widgets"
## Context
Originating Epic

* https://github.com/Joystream/atlas/issues/2401

## Design
Link to Figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1552%3A80425)

![](https://user-images.githubusercontent.com/93924525/182211656-e05db10e-1893-4609-89d4-b7ad83122a8a.png)

## Scope
* [ ] Create a component to host widgets below
* [ ] Total Earned (this probably comes

[2022-08-01 17:30] dmtrjsg opened #3056 "Payouts: Fetch historical data"
## Context
Originating Epic

* https://github.com/Joystream/atlas/issues/2401

## Design
Link to Figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1552%3A80425)

![](https://user-images.githubusercontent.com/93924525/182212334-419d2e14-6b8a-4c4a-a6f7-1d4f410365b1.png)

## Scope

- [ ] Fetch the data from QN and display in the table (done in https://github.com/joy

[2022-08-01 17:30] dmtrjsg opened #3057 "Overview: Balance History Widget"
## Context
* https://github.com/Joystream/atlas/issues/2401

## Design
LInk to Figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1552%3A80406)

Design Preview:

![](https://user-images.githubusercontent.com/93924525/182213821-56bd59fc-7620-4a08-807b-6e96a907c57b.png)

## Scope
* [ ] Line chart with _all_ payouts (nivo.rocks suggested :innocent: )

Out of scope:

[2022-08-01 17:30] dmtrjsg opened #3058 "Overview: Sources of Income"
## Context
* https://github.com/Joystream/atlas/issues/2401

## Design
LInk to Figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1552%3A80406)

Design Preview:

![](https://user-images.githubusercontent.com/93924525/182213302-6250f89d-3ba4-4562-9280-329c4f542748.png)

## Scope
* [ ] All sources of income from transactions table

Claimed Channel Rewards
NFTs sold

[2022-08-01 17:30] dmtrjsg opened #3059 "Notification: New Payment to Claim"

[2022-08-01 17:33] dmtrjsg opened #3060 "Payments: page structure"
## Context
Originating Epic

* https://github.com/Joystream/atlas/issues/2401

## Design
Link> [to Figma](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1547%3A19291)

Preview:

<img width="539" alt="Screenshot 2022-08-04 at 14 55 29" src="https://user-images.githubusercontent.com/93924525/182865260-f3366f84-53c8-4b0f-81c6-d90e3349c3c0.png">

## Scope
* [ ] Add payments item

[2022-08-01 18:04] dmtrjsg commented on #3059
Council payouts are not implemented, and notifications for own actions are too much of an allowance. Closing till council payouts can be surfaced to Atlas.

@kdembler cc

[2022-08-01 18:34] singulart opened #3061 "Chromium: None of the distributors provided the asset"
- [ ] Prepare debug version of Atlas with bunch of console.logs to figure out where the issue is
- [ ] Deploy this version to temp branch, send link to isonar and ask for logs
- [ ] Fix the problem

---

Steps to reproduce:

1. Using latest version of Chromium from https://download-chromium.appspot.com/
2. Try to open Atlas video and play it: https://play.joystream.org/video/27246
3. Observe the e

[2022-08-02 07:56] kdembler opened #3063 "Carthage finishing touches"

[2022-08-02 07:59] kdembler commented on #3061
Does this happen for you every time?

[2022-08-02 08:22] #2542 closed, assigned to kdembler

[2022-08-02 08:28] singulart commented on #3061
Yes, every time

[2022-08-02 11:01] toiletgranny commented on #2884
Alright, @kdembler, the updated designs are ready to be picked up! Here's everything that's changed:
- First and foremost, small updates to **the Avatar component** so that we can display overlays indicating that an image can be uploaded (or edited). [Designs and a detailed changelog can be found here.](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9109%3A171171)
- Then

[2022-08-02 14:36] #2597 closed, assigned to rafalpawlow

[2022-08-03 08:15] #3042 closed, assigned to drillprop

[2022-08-03 08:17] #3016 closed, assigned to drillprop

[2022-08-03 12:14] #3041 closed, assigned to rafalpawlow

[2022-08-03 13:27] toiletgranny commented on #3021
@kdembler Here we go!

1. The new logo can be found and exported from the [Foundation figma file](https://www.figma.com/file/Cc3VDoK6qglJ617ChA2EMr/Foundation?node-id=716%3A70391), where you can also find favicon examples.
2. Components to be updated, based on the scope outlined in changelogs (to which I'm pasting links below) are:
   - [Side navigation](https://www.figma.com/file/Pf31tuYpozYmpq16

[2022-08-03 13:31] toiletgranny commented on #702
@dmtrjsg As discussed on Slack, I added "Powered by [Joystream logo]" footnote at the bottom of the Side navigation component. I mentioned this change in this [component's changelog entry](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9151%3A168502) as I was working on this issue [Update Atlas Branding #3021](https://github.com/Joystream/atlas/issues/3021).

![image](htt

[2022-08-03 13:37] kdembler commented on #702
What if we added icon-link to github in there as well (just an icon would work)? This could encourage people to contribute to the codebase
![CleanShot 2022-08-03 at 15 35 41@2x](https://user-images.githubusercontent.com/12646744/182621759-4821dcb7-dd87-47b1-b873-1ea54bf6695c.png)

WDYT @toiletgranny @dmtrjsg

[2022-08-03 13:45] dmtrjsg commented on #702
I like the idea! But perhaps an explicit copy >  Below Joystream, " We are an open source company, check our Github" maybe better? Is it it getting too crowded this way?

Also when we are implementing this, would be nice to make it easily configurable from the same place where logo is managed for other GW operators 😇

[2022-08-03 15:18] kdembler commented on #702
I think adding a copy may make it too crowded, and it's a fairly common pattern to use just a github icon as a link.

[2022-08-03 15:19] #3002 closed, assigned to drillprop

[2022-08-03 16:10] dmtrjsg commented on #702
Sure, not insisting. But it isnt obvious that we are open source and mentioning it may inspire more people to click on it. not a biggie

[2022-08-04 07:11] drillprop opened #3070 "NFT purchase improvements (price + fee)"
**Scope:**

- [ ] Include price breakdown in Buy now flow ("you will pay" and "transacion fee")
- [ ] Show loading state for "You will pay" when the fee is being fetched
- [ ] Ensure fee loads properly for both buy now and place bid
- [ ] Ensure price + fee is properly validated

---

I think there is a little discrepancy between what we show in the `Place bid` view and what we show in the `Buy no

[2022-08-04 07:37] drillprop opened #3071 "Validation in withdraw balance dialog doesn't take fees into account"
Let's say I want to withdraw all the money from the channel:
![image](https://user-images.githubusercontent.com/51168865/182788120-fc2267e0-a189-45a3-ab1f-ab173339f9a3.png)
At first glance, this looks ok and I can press the `Withdraw` button. But once the transaction is done I got error:
![image](https://user-images.githubusercontent.com/51168865/182788546-eafe7205-652b-460f-90a0-e045fee2cc09.png)

[2022-08-04 07:39] kdembler opened #3072 "Show confirmation dialog before withdrawing NFT bid"
This will also let us display a fee for the user.

- Implement https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=5731%3A263684
- Add fee info to the dialog

[2022-08-04 07:43] drillprop opened #3073 "Misaligned text in the comment text area"
![image](https://user-images.githubusercontent.com/51168865/182792112-4c85b0e1-8d95-4c43-806f-02ca7cf623bb.png)

[2022-08-04 08:56] kdembler opened #3074 "Fetch data about available payouts"
## Scope
- Use https://github.com/Joystream/atlas/pull/3359 to populate Claimable funds data in widgets (#3052)

[2022-08-04 10:01] toiletgranny commented on #702
@dmtrjsg @kdembler Ooff, that's quite a lot of information we want to squeeze into this space, I'm afraid. If emphasising the fact it's an open source project, specifically in this place, is strategically important to us, then I would suggest revisiting the text-only version I've been showing both of you yesterday on Slack.

Here, have a look and see it in context. The version on the left is what

[2022-08-04 10:03] kdembler commented on #702
Let's discuss on the call today 👍 Just for clarity, my suggestion was just the github icon, without the "Check out"

[2022-08-04 10:04] toiletgranny commented on #702
Ok, then two more options.

![image](https://user-images.githubusercontent.com/35307309/182821205-d536ced4-6298-4b7a-9715-174e59b223f9.png)

[2022-08-04 10:09] drillprop opened #3075 "Fix fees in reactions onboarding popover"
This applies to both video reactions and comment reactions. We need to improve loading of the fee for this popover. When its display is triggered, let's start loading the fee and don't show the popover until the fee is known. This way we don't run into a situation like below where the fee is 0 for some time:

![image](https://user-images.githubusercontent.com/51168865/182821449-39aebdbe-9ecc-471e-

[2022-08-04 10:17] #2856 closed, assigned to drillprop

[2022-08-04 10:22] drillprop commented on #3071
Duplicate #3054

[2022-08-04 10:22] #3071 closed, assigned to nobody

[2022-08-04 12:31] toiletgranny commented on #702
Ok, having talked this through during tech <> design sync call, we agreed we want to proceed with the below version, where:
1. The "Powered by [Joystream logo]" part, as a whole, links to joystream.org,
2. The GitHub icon logo links to the Atlas GitHub repository — https://github.com/Joystream/atlas (@kdembler please correct me if I'm wrong).

![image](https://user-images.githubusercontent.com/353

[2022-08-04 13:20] drillprop opened #3078 "Add more meaningful errors in the transaction dialog"
Similar to https://github.com/Joystream/atlas/issues/1861

Since we're moving to Carthage and we add support to fees we could update the transaction dialog to handle errors better.

* [ ] Find out what error codes we need to add.
* [ ] Add them to `TransactionModal.constants` and add proper description

[2022-08-04 13:58] dmtrjsg opened #3079 "Splitting Overview and Transactions tab"
## Context

- #2401

## Design Preview

LInk to figma > [LINK](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=321%3A203)

<img width="437" alt="Screenshot 2022-08-04 at 14 59 19" src="https://user-images.githubusercontent.com/93924525/182865862-27cf06a7-73d9-4566-8bda-3f27b6b4b6bc.png">

<img width="561" alt="Screenshot 2022-08-04 at 14 59 25" src="https://user-images.github

[2022-08-04 14:34] dmtrjsg opened #3080 "Payouts: Loading states for Balance history and Sources of Payments widgets"
dmtrjsg commented on [Thu Aug 04 2022](https://github.com/Joystream/marketing/issues/274)

## Context
* https://github.com/Joystream/atlas/issues/2401

## Scope
Loading states for

* https://github.com/Joystream/atlas/issues/3057
* https://github.com/Joystream/atlas/issues/3058
* https://github.com/Joystream/atlas/issues/3056

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1

[2022-08-04 14:34] dmtrjsg opened #3081 "Payouts: Loading states for Balance history and Sources of Payments widgets"
@dmtrjsg commented on [Thu Aug 04 2022](https://github.com/Joystream/marketing/issues/274)

## Context

- https://github.com/Joystream/atlas/issues/2401

## Scope

Loading states for

- https://github.com/Joystream/atlas/issues/3057
- https://github.com/Joystream/atlas/issues/3058
- https://github.com/Joystream/atlas/issues/3056

[2022-08-04 14:43] toiletgranny commented on #3012
Hey, @dmtrjsg, let me know if the below will do.

![image](https://user-images.githubusercontent.com/35307309/182875330-cc01019f-2458-4767-b877-0cb41d35d66d.png)

If this is ok then @kdembler, the RWD screens can be found in [this Figma file](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1917%3A30454), and all illustrations are already placed in the [Figma API -> Storybook]

[2022-08-04 14:51] dmtrjsg commented on #3012
@toiletgranny  @kdembler

Suggest a tweak on the copy.

"Payments Dashboard is coming soon. Stay tuned." for H1.

"Payments module will give you an overview and analytics of all proceedings to your channel balance, earned from selling NFTs,  earning royalties, investment to your creator tokens by your audience and incentive rewards granted by joystream DAO council. Withdrawals to your personal acc

[2022-08-04 15:00] kdembler opened #3082 "Rework Tooltip component"
Figure out how to make Tooltip component work without the `span` wrapper: https://github.com/Joystream/atlas/blob/master/packages/atlas/src/components/Tooltip/Tooltip.tsx#L111

[2022-08-04 15:17] toiletgranny commented on #3038
Ok, @dmtrjsg, @kdembler, a few questions to help me get started:

1. I did some digging into other GH issues around this subject, and please let me know if I'm correct to assume we'll be indeed moving forward using [hCaptcha](https://www.hcaptcha.com/)?
2. In the UI, do we intend to somehow distinguish the balance of tokens received from the faucet, upon JS membership creation, from the balance of

[2022-08-04 15:37] toiletgranny commented on #3036
Ok, @dmtrjsg, @kdembler, just to help me understand the scope better:

1. In his proposal in #3002, @bedeho mentions adding "a sort of 'report' button to each piece of content". First off, I just wanted to confirm it's only videos we want users to be able to report at this point. No other type of content. **If this is true, please carry on to the second point and disregard what's below.**
     - U

[2022-08-04 15:52] toiletgranny commented on #3012
I tried to use simpler language, keeping in mind our non-native English users in mind, which makes me a bit worried about words such as "module" and "proceedings" and the overall technical complexity. But if both of you guys find this body copy more appropriate, I'll change it immediately! :)

Also, do you think we could keep it shorter for the main header, perhaps dropping the "Stay tuned" part?

[2022-08-04 15:59] kdembler commented on #3012
I really like the simplicity of copy @toiletgranny already used, easy to read

Maybe we also do a similar placeholder screen for creator tokens for the users to stay tuned?

[2022-08-04 16:00] kdembler commented on #702
Yes, I would go with atlas repo link as well, it should be easy to get to org from there, harder the other way around

[2022-08-04 17:11] #3063 closed, assigned to kdembler

[2022-08-04 17:11] kdembler commented on #2969
@dmtrjsg Is there any related issue for the faucet part of this? If not, we should create

[2022-08-04 17:59] bedeho commented on #702
Looks good ;)

[2022-08-04 18:03] bedeho commented on #3036
No I think it has to be channels as well. Like say someone has a really problematic channel cover photo, I think the operator would want to aleast have this sort of alert crowd sourced by the audience through the repoting system. I don't know that we need to make this super granular, like distinguishing the channel cover photo vs avatar, more like just "report channel" for everything.

Yes.

No, t

[2022-08-04 18:07] bedeho commented on #3002
I'm not sure I agree that this really should have been bundled with Orion? Couldn't we just ahve allowed the person to use whatever old endpoint they wanted to capture this into their bespoke data/analytics solution, rather than adding extra work on our end and being very opinionated about how data is stored?

[2022-08-04 19:29] bedeho commented on #3038
Sounds wise.

I focusing on one total balance is simplest and best. I think it is important to make sure someone sees an accurate total balance, because when they cross-reference with other applications/sites they would otherwise get confused. Then showing a much smaller and less prominent indicator of locked balance could be fine. If the total balance == locked balance, then perhaps you want to s

[2022-08-05 07:34] kdembler commented on #702
@toiletgranny Do we have a Figma link?

[2022-08-05 07:42] kdembler commented on #3002
Sorry I don't understand, what do you see as an alternative? What is "extra work" on our end? If not Orion, something else would need to capture this data. Also I don't fully understand how we're very opinionated about data, we need to pick _some_ schema for the time being right? I'm also not sure what "whatever old endpoint" you are referring to.

[2022-08-05 08:02] kdembler commented on #3036
Regarding the second point, I would just use a rationale for now, I don't expect the volume to be too big to handle without filtering for now and also that's what we did for our backend implementation. Although if you strongly think that we should add it, I'm fine with it too

[2022-08-05 08:05] kdembler commented on #3038
Yes. You can see the POC here: https://atlas-git-dev-joystream.vercel.app/playground/captcha

While I agree it should be visible, I wouldn't make it too prominent, just a part of UI. Captcha will be our main defense against abusers anyway

[2022-08-05 09:23] toiletgranny commented on #702
@kdembler I mentioned this change in this [component's changelog entry](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9151%3A168502) as I was working on this issue https://github.com/Joystream/atlas/issues/3021.

[2022-08-05 09:42] toiletgranny opened #3083 "No tooltip with the exact value of my balance"
**As is:** Hovering over my account balance doesn't bring up a tooltip with a full number.
**To be:** It should bring up a tooltip with a full number, just like in [the Number component.](https://atlas-storybook-git-dev-joystream.vercel.app/?path=/story/other-numberformat--regular)

![CleanShot 2022-08-05 at 11 40 29](https://user-images.githubusercontent.com/35307309/183050435-35f92ecc-fae2-467b-

[2022-08-05 09:48] toiletgranny opened #3084 "Incorrect NFT purchase view implementation + lack of support for the insufficient funds case scenario"
The implementation of the NFT purchase view in the Buy now mode doesn't match [the designs](https://www.figma.com/file/wjeAOZq77pSUFZsYXJqKIB/NFT-purchase-view?node-id=1024%3A114229). However, the designs aren't that good either, as they don't provide any guidelines on handling the insufficient funds case scenario properly.

The goal of this task would be to revisit the NFT purchase view designs,

[2022-08-05 09:51] drillprop commented on #3083
Already fixed but it's not deployed yet
![image](https://user-images.githubusercontent.com/51168865/183052370-da310881-b4e6-4b00-983c-1e2f237606b6.png)
Try:
https://atlas-git-dev-joystream.vercel.app/

[2022-08-05 09:51] #3083 closed, assigned to nobody

[2022-08-05 10:07] #2969 closed, assigned to rafalpawlow

[2022-08-05 11:06] toiletgranny commented on #3038
@dmtrjsg @kdembler @bedeho Alright, thanks a lot, guys, for all the answers. That's really helpful. As we don't have much time we could spend on this, as I can imagine, here's a quick 10 min video update with my recommendations. Looking forward to hearing your thoughts on this. https://www.loom.com/share/beacdf8c7d0f4ffcaf737aea84636e2c

Figma prototype link is here — https://www.figma.com/proto/2

[2022-08-05 11:18] kdembler commented on #3004
Just to jot down our agreement on the call:
1. Anyone can create a category
2. Categories have some very basic metadata - title, optional description, optional parent category
3. QN needs to handle unknown categories. If I create a video with category ID 111123123123151, QN needs to properly index that video and just not offer any additional metadata for it
4. We create display categories inside t

[2022-08-05 11:42] bedeho commented on #3004
Thanks for summary!

Lets not for now. No editing, no deleting.

[2022-08-05 11:47] kdembler commented on #3084
@toiletgranny You may want to take a look at Carthage implementation of this, as we've done some improvements here: https://atlas-git-carthage-joystream.vercel.app/

[2022-08-05 11:57] kdembler opened #3085 "Update MemberDropdown to allow easy switching between member and channel"
https://user-images.githubusercontent.com/12646744/183072941-29404e33-4d35-484a-8816-c648fb6aef4a.mp4

https://www.figma.com/proto/1U8dkMKYlHAMTFH6FXTWFe/Channel-accounts?page-id=1237%3A15962&node-id=1237%3A15969&viewport=888%2C502%2C0.24&scaling=min-zoom&starting-point-node-id=1237%3A15969

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202736673685254) by

[2022-08-05 12:06] kdembler commented on #3038
Thanks for the update Adam, there's a couple of things to unpack here:

**Captcha**
I agree that the no-captcha solution is the best - less friction, less styling etc, **but** to access no-captcha version we need to pay 100$/mo for a plan, the regular version is free. Maybe it's worth to start off with the basic "captcha-captcha" and potentially invest in the paid plan in the future if the solutio

[2022-08-05 12:33] toiletgranny commented on #3038
Thanks for your feedback, @kdembler!

**Captcha**
Oh, noes. Sorry I totally missed it's a paid feature. Of course, I'll proceed with the captcha widget.

**Messaging**
Oh, great! 👍

**Locked tokens**
Oh wow, somehow I just assumed it has to be the balance of the locked tokens that is spent first, and not the other way around. The way you explained now... Yeah, I think it makes a lot of sense to ta

[2022-08-05 12:52] dmtrjsg opened #3086 "Adjust payments designs wrt cumulatives"
@dmtrjsg commented on [Fri Aug 05 2022](https://github.com/Joystream/pioneer/issues/3466)

![Screenshot 2022-08-05 at 13.50.20.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/70a5d50f-80b9-497b-b4a4-169229626a9e)

[2022-08-05 12:57] dmtrjsg opened #3090 "Testing that 100% locked funds from faucet can be used for starting as creator"
## Scope
Verify that even just using invitation funds, that are 100% locked (except for fees), we can do things like creating a channel and uploading assets and so on, because those actions include value payments above and beyond fees, for example bloat bonds and storage fees.

Very that fresh members with funds obtained exclusively from faucet:

* [ ] Can create acc
* [ ] Can create channel
* [ ]

[2022-08-05 14:47] dmtrjsg commented on #3036
Initially I was pushing for category, but classification is arbitrary and I'm with Klaudiusz on rationale would be sufficient for the starting version.

[2022-08-05 14:52] toiletgranny commented on #3036
@dmtrjsg, I read your comment right after finishing my video update! 😅 Well, let's see if I manage to change your minds about categories. The 9 min video update can be found here — https://www.loom.com/share/85f247bb9b224cc9817a703331baedbd

Figma prototype link is here — https://www.figma.com/proto/q7mCoVOG80kXsR8BzZWk4T/Operator-specific-content-reporting-(Form)?page-id=802%3A5357&node-id=1201%3

[2022-08-08 06:37] kdembler commented on #3036
Thanks for the update Adam. I think we're still gonna skip category for now but it's good to have the design reference for later ;)

[2022-08-08 06:55] #3001 closed, assigned to rafalpawlow

[2022-08-08 09:03] dmtrjsg opened #3089 "Testing that 100% locked funds from faucet can be used for starting as creator"
@dmtrjsg commented on [Fri Aug 05 2022](https://github.com/Joystream/atlas/issues/3090)

## Scope
Verify that even just using invitation funds, that are 100% locked (except for fees), we can do things like creating a channel and uploading assets and so on, because those actions include value payments above and beyond fees, for example bloat bonds and storage fees.

Very that fresh members with fun

[2022-08-08 09:03] dmtrjsg commented on #3090
Issue moved to [Joystream/atlas Joystream/pioneer#3089](https://github.com/Joystream/atlas/issues/3089) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-08 10:46] dmtrjsg commented on #3090
Issue moved to https://github.com/Joystream/atlas/issues/3089 via [ZenHub](https://www.zenhub.com/) < issue was moved :) so its a duplicate now. The new issue > https://github.com/Joystream/atlas/issues/3089
is tagged with Carthage label and should be synced with Asana. Closing on that basis.

[2022-08-08 10:46] #3090 closed, assigned to nobody

[2022-08-08 11:06] bedeho opened #3092 "Improve "Welcome to Studio" screen"
On [signin screen](https://play.joystream.org/studio/signin), which now will be destination from main screen, we use old illustrations which I think are far inferior to what we now have on the landing page. Can we replace?

![Screenshot 2022-08-08 at 13 06 52](https://user-images.githubusercontent.com/437292/183404421-b1c25978-9ac8-4e73-b9c6-a4d01ae98a1a.png)

┆Issue is synchronized with this [Asa

[2022-08-08 11:12] #3086 closed, assigned to nobody

[2022-08-08 11:26] dmtrjsg opened #3093 "Introduce NFT proceedings go to channel balance as part of the flow"
- [ ] Update copy in the “Heads up!” Banner component, displayed under NFT options section, in the Video workspace (https://www.figma.com/file/xm6vBdSnQDroc57rGfGtPM/Video-workspace?node-id=3223%3A161358),
- [ ] Update description of the Form field component for NFT royalties (https://www.figma.com/file/xm6vBdSnQDroc57rGfGtPM/Video-workspace?node-id=3223%3A161045),
- [ ] Add a Banner component to

[2022-08-08 11:28] dmtrjsg commented on #3085
addressed in #2556

[2022-08-08 11:28] #3085 closed, assigned to nobody

[2022-08-08 13:22] kdembler commented on #3078
I think these are the ones we should handle:
1. Not enough funds to cover tx fees (if the in-app validation failed). Keep in mind, that there are different types of fees (basic blockchain fee, different state bloat bonds, data object per size fee) and failing specific fee may result in different type of error.
2. Mismatch in expected fee value and actual blockchain value (for state bloat bonds). S

[2022-08-08 13:29] kdembler opened #3095 "Weird scrolling when reaction onboarding popover is open"
https://user-images.githubusercontent.com/12646744/183428874-812e3cbe-4e24-46de-97b4-fc1ecd682a18.mp4

In this video, I try to scroll down to the bottom of the page (to see the full popover), but I'm constantly pushed up and cannot see the full page content. Let me know if you need more info on reproduction. Ideally the popover is placed dynamically and if there's not enough space at the bottom, i

[2022-08-08 14:55] kdembler opened #3098 "Idea: Improvements to reduce friction of blockchain interactions"
Couple ideas on how to make users life easier when it comes to signing/waiting for transactions:
1. Build optional signature-less experience, where users authenticate with a backend in regular web2 way and the backend manages private keys for them, so users don't need to install any extension
2. Make the UX of waiting for transaction processing less obtrusive - we could use the new minimized trans

[2022-08-09 07:51] toiletgranny commented on #3036
@dmtrjsg this task wasn't ready for devs, I'll move the issue to the Design Review column once it is

[2022-08-09 08:45] #3048 closed, assigned to kdembler

[2022-08-09 08:56] dmtrjsg commented on #3036
Ah forgive my itchy finger @toiletgranny

[2022-08-09 09:21] KubaMikolajczyk commented on #2973
Below I have a next hi-fi exploration of the whole YPP flow 👇
🎥 Loom video: https://www.loom.com/share/98ff721e1cae41dab2eda05eac25d827
📄 Figma files: https://www.figma.com/file/Mn2ay2F5pynPQND4nUFxHv/YPP%3A-Youtube-partnership-program?node-id=1527%3A103180

[2022-08-09 11:38] kdembler commented on #3084
Will be handled in https://github.com/Joystream/atlas/issues/3070

[2022-08-09 11:38] #3084 closed, assigned to toiletgranny

[2022-08-09 11:41] toiletgranny commented on #3070
We added a Price breakdown variant which comes with skeleton loaders for the "You will pay" and "Transaction fee" information. https://www.figma.com/file/wjeAOZq77pSUFZsYXJqKIB/NFT-purchase-view?node-id=1036%3A102837

[2022-08-09 12:26] kdembler commented on #2973
Cool stuff 😍

1. I'm not a fan of the nav item on the viewer side. This will not work well with our current pattern of expanding those items:

https://user-images.githubusercontent.com/12646744/183639095-068d807a-ae00-4cf6-8c14-9c90483c9c71.mp4

We would need to instead do some custom things and fade in/fade out the content.

2. I would go with the first iteration of widgets in the dashboard, like

[2022-08-09 14:46] toiletgranny commented on #3038
Ok, @kdembler, designs and changelog for the updated Sign in flow [can be found here](https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in?node-id=1284%3A11692).

![image](https://user-images.githubusercontent.com/35307309/183678423-bf6b3ac1-0eae-48cd-9198-cce82c953938.png)

cc @dmtrjsg, [based on this Slack discussion](https://joystreamworkspace.slack.com/archives/C03A9SE8197/p16600497634337

[2022-08-09 16:21] dmtrjsg commented on #2973
@KubaMikolajczyk excellent work ⭐ we are almost there 👍

### LP
**Rewards**
1. How can you Earn Rewards? -> Change copy to "Collect rewards for publishing your videos". Add to the existing para after "and much more.." with "Creators with larger audience receive greater rewards."
2.  I imagined we would expose the three tiered rewards, perhaps with a three state toggle, by default on Tier 1. Once s

[2022-08-09 20:30] bedeho commented on #2973
You guys have this covered, really looks amazing @KubaMikolajczyk , fantastic work :)

[2022-08-09 22:37] mochet commented on #3098
I would also suggest this: https://github.com/Joystream/pioneer/issues/3442
Basically ensuring that any transaction initiated is stored in a local storage log regardless of success/fail.

If this is possible I imagine it would help users understand what happened to their transaction. When it comes to things like NFT auctions and some actions with mainnet $JOY I could imagine the risks at stake wil

[2022-08-10 08:05] #702 closed, assigned to drillprop

[2022-08-10 09:14] #3011 closed, assigned to drillprop

[2022-08-10 13:32] dmtrjsg opened #3100 "Volume testing: Atlas"
## Context
If any non-trivial level of load comes to Atla, then it will fail. To me there are a range of possible reasons that could cause this, including, but possibly not exhaustively

* Atlas itself is not optimised well enough
* Orion throughput or latency is too bad, and does not scale
* QN <same>
* Distributors <same>

Now these are very distinct causes, and they may have very distinct level

[2022-08-10 13:32] drillprop opened #3101 "Update flows for adding subtitles"
Since we did some improvements to adding subtitles in the implementation on the fly, the designs needs to be updated.

- [ ] We decided to remove Mark/Unmark as a closed captions option in the context menu
- [ ]  In the Combobox a user will be able to choose closed captions from the list 👇🏻
![image](https://user-images.githubusercontent.com/51168865/183913427-b4969f82-25dd-4342-8020-5668a88a098c.p

[2022-08-10 14:37] toiletgranny commented on #3036
@kdembler Alright, changes are ready to be reviewed and implemented! Designs, docs and the changelog for Video & Channel pages can be found under below links:
- [Video page](https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=5886%3A325024),
- [Channel page](https://www.figma.com/file/POw4j95jszfIP5bGfas2IC/Channel-page?node-id=1510%3A129633).

[2022-08-10 16:43] kdembler commented on #3036
Lovely, thanks!

[2022-08-10 17:23] bedeho opened #3105 "WIP: Atlas Operator Guide"
WIP.

* rebrand
* QN + RPC nodes?
* categories
* faucet
* avatar service
* captcha configuration
* content reporting
* social previews
* URL of Pioneer instance to use, e.g. in `learn more` on membership page.
* setting DMCA policy, terms, privacy
* disable stuff: YPP?
* analytics hooks?
* price feed
* deeper changes
* Orion: which instance? use shared one run by content lead for now as recommende

[2022-08-11 07:11] drillprop opened #3107 "All tiles with failed upload are marked as NFT"
Steps to reproduce
1. Create a video and upload a big file, but don't check `mint NFT for this video`
2. Once it's uploading refresh the site
3. Result:
![image](https://user-images.githubusercontent.com/51168865/184081277-151c203f-c52d-4393-be21-0ad522d73a7f.png)

[2022-08-11 10:35] toiletgranny commented on #2556
@dmtrjsg @kdembler @bedeho Here's a 19 min (13 min at 1.5x speed) video update in which I talk about potential solutions for the scope outlined above, and also for #3093, as I believe these issues are actually connected (and I'm explaining why in the video). https://www.loom.com/share/aad0a94c289948248757af088c96c2de

Figma prototype can be found here — https://www.figma.com/proto/2Snx8rlijd8iD6bt

[2022-08-11 11:41] kdembler opened #3108 "Fee display improvements"
- In `VideoWorkspace`, when fee is unknown and still loading, don't show "<0.01", just show "0.00". (We probably want to change the fee/action bar component)
- `NftWorkspace` doesn't show fee until I make a first change in the form, even though the defaults should be enough to compute a fee (if I just use defaults I will not see a fee)
- Same situation as above in edit membership view. Let's show

[2022-08-11 13:04] kdembler opened #3109 "Change NFT price fixes"
- "Change price" option in ContextMenu doesn't work, clicking it doesn't trigger the dialog.

https://user-images.githubusercontent.com/12646744/184140189-60fcaacc-adbd-4979-b229-384bb6414463.mp4

- Let's add a fee to change price dialog
- Let's add "X" button in the top right corner so that users can quite to change price dialog

[2022-08-11 14:38] kdembler commented on #2556
Ah, it's always a pleasure to review your work Adam!

So starting from the end, I think proposed changes to NFT and video workspaces work well.

Regarding funds, I'm not sure if I would put "seeing total balance of all my channels" as a con, I don't see it as a high value info. One thing to consider, is that showing total balance (member + channels) may be confusing - for example, your channel may

[2022-08-11 17:10] dmtrjsg commented on #2556
@toiletgranny nice work ⭐

1️⃣  Showing balances

Option 2 really works with me as well.

I think we need to only show total balance for user accounts, and add different _lock icons_ next to the total amount. On Hover we can expose amounts locked and purposes for which these locked tokens can be used.  Adding more numbers next to one another will confuse consumers imho.

Locked funds are not separ

[2022-08-11 17:48] bedeho commented on #2556
They are :)

[2022-08-11 18:07] KubaMikolajczyk commented on #2973
Hey there team 🖐 Below is the last Hi-fi iteration and as much finalization as I could do in those last days of the YPP👇 (the only things left now would be any changes if you have any more comments and RWD for YPP Landing & Dashboard)
🎥 Loom video: https://www.loom.com/share/03c9f087bae240ceb7c584b55b5ad31a
📄 Figma files: https://www.figma.com/file/I55WY2JuOzLYOFVq47RH2v/YPP%3A-Youtube-Partner-Pro

[2022-08-11 18:15] dmtrjsg opened #3112 "Non-blocking experience -"
sign and go ahead without waiting confirmation..

With a view to use Atlas for cases where signing is custodial or even if signing not required.

to be clarified.

[2022-08-12 06:54] bedeho commented on #3092
Also,  " How it works" sort of does not do anything useful here now, it just sends you back to the main site.

![Screenshot 2022-08-12 at 08 52 17](https://user-images.githubusercontent.com/437292/184300363-aba2487c-290c-4ed5-8bff-342eefa90563.png)

**It sort of begs the question: if what we want people to do here is to "connect wallet", and most people probably wont even have a wallet, is this th

[2022-08-12 07:04] kdembler commented on #3092
Fully agreed. We didn't foresee this screen as a landing from a marketing website so definitely needs a refresh. We probably should focus on this flow:
1. Web2 creator heard about Joystream
2. They go to joystream.org
3. They like what they see
4. The click "Claim channel"
5. They go to this page, currently probably quite confused as to what is even going on

[2022-08-12 07:07] dmtrjsg commented on #3112
covered in point 1 of this issue
- https://github.com/Joystream/atlas/issues/3098

[2022-08-12 07:19] bedeho commented on #3092
Is the only way you get here "claim channel"? Say I first land on the YPP page, perhaps referred by a friend or something, and I am starting the flow to create a channel, do I cruise by this page then also?

[2022-08-12 07:22] kdembler commented on #3092
Regarding YPP, that's actually a good question, I don't think our designs include a flow for when the user doesn't have a membership yet, they only include a case for creating a channel.

You can also get to this page if you create a membership in Atlas viewer and go to Studio but you don't have a channel yet. Then you see this screen with "Create first channel" instead of "Connect wallet"

[2022-08-12 07:52] drillprop opened #3114 "Add captcha in create membership flow"
Designs: https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in?node-id=1276%3A29691

[2022-08-12 08:17] drillprop opened #3115 "Update sizes in Avatar component"
Designs: https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9109%3A171159

- [ ] remove redundant ones
- [ ] remove media queries in some size variants
- [ ] make sure that everything works fine on a desktop and mobile.

I would also opt not to use string names for size variants. I think we should replace them with just numbers - e.g `bid` variant would be just `24` and `smal

[2022-08-12 08:23] kdembler commented on #2556
Good point!

[2022-08-12 08:24] toiletgranny commented on #3092
@kdembler I'm currently in the process of going through @KubaMikolajczyk's final designs for YPP, and I can see there is a user story for handling not signed-in users. You can see it here: handling

In a nutshell:
1. Clicking on "Authorize with YouTube" will first prompt you to connect wallet and create membership (if you don't have one already). A reminder tall of that takes place in a dialog, so

[2022-08-12 08:49] kdembler opened #3116 "Add captcha support to faucet"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202789514553877) by [Unito](https://www.unito.io)

[2022-08-12 08:57] dmtrjsg opened #3117 "Placeholder screen for CRT module"

[2022-08-12 09:16] kdembler opened #3118 "Initial subtitles integration"
Initial extrinsics integration and a playground

[2022-08-12 09:19] kdembler commented on #2492
Part of #3043

[2022-08-12 09:19] #2492 closed, assigned to nobody

[2022-08-12 11:01] kdembler opened #3119 "Sharing from embedded player generates wrong link"
When you open share overlay from an embedded videos, all the social media links will use the `/embedded` path for sharing. We should use the regular video path as only those will have social media previews generated for them (and also that's generally what you want people to visit, not the embedded player)

[2022-08-12 12:14] #3119 closed, assigned to drillprop

[2022-08-12 12:26] toiletgranny commented on #2556
Thank you for taking the time to review it and come back with thorough feedback, guys! I really appreciate it. I had to jump back to Figma with it and iterate some more to come back with follow-up questions. And since @dmtrjsg's feedback is not in opposition to @kdembler's one (and is actually extending it) I'll be focusing only on the comment from Dima.

I'm afraid I don't understand, could you p

[2022-08-12 12:43] dmtrjsg commented on #2556
@toiletgranny

Best to do on the confirmation screen, not to break the flow. This is the pattern for all disclaimers and info boxes, I think at this point attention is hightened. less cluttered forms are always beneficial :)

just dorp "or transfer", only _withdraw_ can be done from channel balance afaik

Cool! Just to make sure, is this the tooltip you were thinking of?

yes, correct

[2022-08-12 12:48] dmtrjsg commented on #2556
In most cases free funds will be majority, also locked tokens are spendable but for some scenarios only. So locks is a subset of totals.

yes correct, Invitation locks, CRT vesting locks for near future

but not ruling out other locks> member vesting locks, account bounding locks, gift locks, staking locks, voting locks. For the purpose of right now only invitation locks are concerned.

[2022-08-12 12:57] #1841 closed, assigned to drillprop

[2022-08-12 14:04] #3109 closed, assigned to rafalpawlow

[2022-08-12 14:43] toiletgranny commented on #2556
@kdembler, @dmtrjsg Ok, guys, I hope this is what you had in mind: https://www.loom.com/share/37afe785a39f4f948898dbe21ecf44a2

[2022-08-15 09:03] dmtrjsg commented on #2556
Hey @toiletgranny , good stuff, almost there!  Comments below

### Copy

Would it not be better to include information about the destination account for royalties to the same info box as for NFTs (conf step)

### Locked funds

I was thinking along the lines of showing a Lock icon 🔒 next to the balance and on hover/ tap display a tooltip showing smth like:

🔒  Invitation Lock: 300

✔️ Can be spent

[2022-08-15 10:45] dmtrjsg commented on #2556
@toiletgranny also I believe the above approach is better to support[ this statement](https://joystreamworkspace.slack.com/archives/C039QJHMM38/p1660554601514049)>

 We can use the same mechanism that's currently used for transactions fees (because it's the default behavior). This means that if I have 5 JOY locked with invitation lock and I pay a transaction fee of 1 JOY, I'm left with 4 JOY free

[2022-08-15 11:59] dmtrjsg commented on #2973
@KubaMikolajczyk amazing, all of this looks so good 🙌 can't wait for this to get released 💪

☝️ Small  updates:

Landing Page:
1. "Manage your channel on a simple dashboard" -> "Manage your participation in a simple dashboard" + Move this section to the bottom of the list, as its prob better to start with real value proposition.
2. I like variation 3 as this will also work better on mobile devices

[2022-08-16 06:45] #2490 closed, assigned to drillprop

[2022-08-16 08:56] kdembler opened #3123 "Improve social preview for Atlas mainpage and YPP landing page"
### Scope

- [x] Make sure generated social previews for channel and video page match designs
- [x] Update meta tags in static `index.html` to match new homepage open graph designs
- [ ] Add social preview for `/ypp` route (probably via atlas-meta-server)

---

![](https://user-images.githubusercontent.com/12646744/190399944-851877af-8c84-4862-bf5d-c3701005e3ff.png)

I think we should improve soci

[2022-08-16 10:03] toiletgranny commented on #2556
@dmtrjsg Right, I see, thanks for the additional info!

I admit that at first, it's a little confusing that what we call a _free_ balance might as well be entirely _locked_. And I think it's safe to assume that a common mental model is to perceive "locked" as the opposite of "free". But as long as we don't intend to show it like that, I mean literally, anywhere in the Atlas app, I guess there isn'

[2022-08-16 11:52] bedeho commented on #2556
My two cents: why can't Atlas just follow the same balance terminology as in Pioneer? as I say here
https://github.com/Joystream/pioneer/issues/3501#issuecomment-1215776839

The concept of `free balance` as used by the blockchain is just _bonkers_, it should be nowhere near users :D

[2022-08-16 11:55] kdembler commented on #2556
We just had a discussion about this on a call, we will only show transferable balance (`free - locked`) by default and show  locks only in a tooltip

[2022-08-16 12:19] bedeho commented on #2556
So transferable is basically "what can I send NOW", as far as the user is concerned. I am not sure if `free` in your formula is the same as the `free` in the chain, if so, you should check whether it includes so called _reserved_ funds as well, as distinct from locked funds. Also, remember that you probably want `- max{all locks on account}`, as there may be many of them, e.g. vesting, invitation,

[2022-08-16 12:22] kdembler commented on #2556
That's useful, thanks. I will certainly come back to this while we do the implementation

[2022-08-16 18:58] dmtrjsg commented on #2969
This issue added to cover faucet:
- https://github.com/Joystream/atlas/issues/3116

[2022-08-17 08:07] toiletgranny commented on #2556
Alright, @kdembler, all changes are ready to be reviewed and implemented based on the designs, documentation, and changelog, which you can find here:

https://user-images.githubusercontent.com/35307309/185067660-885ef019-5d02-4a4d-8853-1dcb7353d8a7.mp4

1. [Member dropdown component](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=8357%3A162093),
2. [Action bar component](

[2022-08-17 08:08] toiletgranny commented on #3093
Alright, @kdembler, all changes are ready to be reviewed and implemented based on the designs, documentation, and changelog, which you can find here: https://www.figma.com/file/xm6vBdSnQDroc57rGfGtPM/Video-workspace?node-id=1945%3A109809

[2022-08-17 08:08] #3021 closed, assigned to drillprop

[2022-08-17 08:40] kdembler opened #3124 "Weird video player overlay when hovering player controls"
https://user-images.githubusercontent.com/12646744/185074469-9f50ba22-e371-4164-b504-e4401fe687f6.mp4

Seems to happen only on Firefox

[2022-08-17 09:27] #2948 closed, assigned to kdembler, dmtrjsg

[2022-08-17 16:34] #3095 closed, assigned to rafalpawlow

[2022-08-18 09:05] #3108 closed, assigned to rafalpawlow

[2022-08-18 09:17] kdembler opened #3130 "Poor handling of failed uploads"
### Problem
If you publish a video and some of its assets fail to upload, you will see this in `My uploads`:

![](https://user-images.githubusercontent.com/12646744/185357259-da79a855-9e92-429d-9cad-f388b0b3ad76.png)

Then, user can reconnect the file and try to upload again. However, if they don't have the file available or some other problem occured, they may see the following modal:

![](https:

[2022-08-18 10:14] #3037 closed, assigned to rafalpawlow

[2022-08-18 10:15] kdembler opened #3131 "Wrong price in Change bid context menu options"
<img width="472" alt="CleanShot 2022-08-18 at 12 14 33@2x" src="https://user-images.githubusercontent.com/12646744/185371502-b5c35382-9a08-4f3d-adb7-a77993a280d9.png">

<img width="309" alt="CleanShot 2022-08-18 at 12 14 25@2x" src="https://user-images.githubusercontent.com/12646744/185371557-4579f033-56aa-4650-b893-a717b7418e24.png">

As in the title, price in context menu should be 10 JOY

[2022-08-18 11:06] kdembler opened #3133 "Show fee in delete video dialog"
As in the title

[2022-08-18 11:29] drillprop opened #3135 "Black overlay in the tabs bar"
Allow overriding the color of the shadow of `Tabs` component:

![image](https://user-images.githubusercontent.com/51168865/185384320-f5f5d652-79ac-49dd-907b-120049236bb7.png)

[2022-08-18 11:43] #3072 closed, assigned to rafalpawlow

[2022-08-18 12:24] kdembler opened #3138 "Make it impossible to navigate within embedded player"
Currently it's possible to click the video title / channel title when in the embedded player. This will cause the app to try to navigate to video/channel which are not available in the embedded app causing the player to break:

https://user-images.githubusercontent.com/12646744/185393520-0da54254-bde2-4d8a-97a7-9a78db0803d5.mp4

We should make sure all navigation in the embedded player opens links

[2022-08-18 12:26] kdembler opened #3139 "Issues with share screen in embedded player"
It's possible to have both player controls and share overlay visible in the embedded player which makes the elements overlap with each other:

https://user-images.githubusercontent.com/12646744/185394054-1752559d-db75-4993-b005-5c35525ce2dc.mp4

We should make sure that share overlay is above other player controls so that it's the only thing you can interact with

[2022-08-18 12:33] kdembler opened #3140 "Explore better empty state for member/channel avatars"
Currently we use a _boring_ gray silhouette icon when the member/channel doesn't have an avatar set:
<img width="272" alt="CleanShot 2022-08-18 at 14 31 49@2x" src="https://user-images.githubusercontent.com/12646744/185395465-eb8e66d5-a1e2-4fed-9cb0-25eadf0528f8.png">

We could use something much more fun though. A lot of platforms (e.g. Google, Apple) use a pattern of user initials on some colorf

[2022-08-18 13:30] kdembler opened #3142 "Introduce separate poster image for videos"
### Problem

Currently for each video we save 2 assets:
1. Media file (video itself)
2. Thumbnail image - image used for tiles in the app, currently it's 640x360

Thumbnail image being so small creates some issues:
1. We cannot use it as a placeholder for the video player when the playback hasn't started yet. We're forced to use first video frame instead and the publisher doesn't have an option to

[2022-08-18 13:37] kdembler commented on #3142
Btw, this created a real-world problem back when we were implementing the new onboarding experience for the marketing website. To accommodate for the player being so wide on this page, we actually had to prepare a custom Atlas version that creates bigger thumbnails images so that it's not pixelated:
<img width="1361" alt="CleanShot 2022-08-18 at 15 36 52@2x" src="https://user-images.githubusercont

[2022-08-18 13:47] #3075 closed, assigned to drillprop

[2022-08-18 16:51] rafalpawlow commented on #3061
@singulart Can I ask you to check this video and tell me if you are able to play it? https://file-examples.com/storage/fe2c60820462fe6819b9429/2017/04/file_example_MP4_1280_10MG.mp4

[2022-08-18 17:48] bedeho commented on #3142
I think this is a worth while feature, I would put it in the `youtube-parity` bucket (should we have a label for that btw.?). I am not sure where I would prioritise it though, there are other features of this kind I think are worth more in ROI term, at least I suspect so, but overall, I like it ;)

[2022-08-18 18:03] singulart commented on #3061
The link doesn't work.. File not found

[2022-08-18 19:21] dmtrjsg opened #3146 "YT LP Top Creators Carousel"
## Context
- https://github.com/Joystream/atlas/issues/2973

## Scope

- [ ] Most recent Verified creators carousel
- [ ] Display ~top~ most recently authorised 30 creators desc by date authorised
- [ ] Tooltip: What does it mean to get verified?

"Verification process is based on simple conditions, all of which need to be fulfilled to get verified:
- Joystream channel avatar, cover, title and des

[2022-08-18 19:24] dmtrjsg opened #3147 "YT LP Rewards Section"
## Context
- https://github.com/joystream/atlas/issues/2973

## Scope

- [ ] Tier selector
- [ ] Display rewards panels based on Tiers

## OOS
 - Get started in 3 steps section

## Design

[LInk to Figma> ](https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1604%3A85511)

<img width="588" alt="Screenshot 2022-08-18 at 20 36 18" src="https://user-images.githubusercont

[2022-08-18 19:29] dmtrjsg opened #3148 "YT LP Referred by"
## Context

- https://github.com/Joystream/atlas/issues/2975

## Scope

- [ ] Display referred member when YT LP opened via referred link
- [ ] Referral data added to storage (pre-populates referred field in the YP auth flow)
- [ ] Subsequent opening of the page would display referrer unless used a diff referrer link

## Design

[LInk to Figma> ](https://www.figma.com/file/I55WY2JuOzLYOFVq47RH2v/Y

[2022-08-18 19:35] rafalpawlow commented on #3061
@singulart Sorry It must have expired somehow. Can you try one of the links from this site? https://file-examples.com/index.php/sample-video-files/sample-mp4-files/

[2022-08-18 19:49] dmtrjsg opened #3149 "YT LP Static Content"
## Context

## Scope

- [ ] Implement all static content
- [ ] CTAs Claim your channel and Authorise with Youtube start the same Authentication journey

Out of scope:
- [ ] Auth Journey

## Design

[Link to Figma > ](https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1604%3A85511)

<img width="172" alt="Screenshot 2022-08-18 at 20 52 36" src="https://user-images.gith

[2022-08-18 20:06] dmtrjsg opened #3150 "YT Auth Flow Success / Fail Screen"
## Context
- https://github.com/joystream/atlas/issues/2973

## Scope

Fetch auth result  from BE

- [ ] Success Screen
- [ ] Fail Screen ( ☝️ with reasons)

## Design

[Link to Figma / Authorised > ](https://www.figma.com/file/I55WY2JuOzLYOFVq47RH2v/YPP%3A-Youtube-Partner-Program?node-id=1637%3A121235)
<img width="359" alt="Screenshot 2022-08-18 at 21 10 42" src="https://user-images.githubusercon

[2022-08-18 20:20] dmtrjsg opened #3151 "YT Dashboard"
## Context

- https://github.com/joystream/atlas/issues/2973

## Scope

- [ ] Verified status
- [ ] Tier display
- [ ] Programme Details Widget
- [ ] Discord Widget
- [ ] Payments Widget

- [ ] Rewardable actions (based on channel tier)

- [ ] Multiple channels info box (bottom of the page)

## Design

[Link to Figma> ](https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node

[2022-08-18 20:25] dmtrjsg commented on #3050
duplicate of
- https://github.com/Joystream/atlas/issues/3151

[2022-08-18 20:25] #3050 closed, assigned to nobody

[2022-08-19 10:50] dmtrjsg commented on #3146
@toiletgranny @KubaMikolajczyk we'd need to re-work this to Recently Authorised, as top ones are very hard to get the date for if not unclear.

[2022-08-19 11:01] kdembler opened #3152 "Spike: Google authentication flow"
**Scope:**

- [ ] Create a playground with a button "Authorize with Google"
- [ ] Create an app in Google console
- [ ] Redirect user to Google
- [ ] Capture the `code` query arg once the user gets back to Atlas

[2022-08-19 11:04] kdembler opened #3153 "UI for YPP authorization flow"
**Scope:**

- [ ] Implement all the UI and forms used in YPP authorization flow - https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1774%3A115618

**OOP:**

- [ ] Google authentication
- [ ] YPP backend
- [ ] YouTube criteria validation

[2022-08-19 11:08] kdembler opened #3154 "Integrate YPP authorization with YPP backend"
**Scope:**

- [ ] Do pre-validation once user comes back from Google (send only `code`) so that we can show them failed criteria earlier
- [ ] Send all the data to YPP backend (google auth `code`, email, referrer ID, etc)
- [ ] Handle success
- [ ] Handle failure

[2022-08-19 11:09] kdembler opened #3155 "Integrate YPP authorization with Google"
**Scope:**

- [ ] Integrate Google authentication with YPP authorization flow once the spike (#3152 is done)
- [ ] Handle Google authentication failure (as seen https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1818%3A90535)

[2022-08-19 11:10] #3150 closed, assigned to nobody

[2022-08-19 11:14] #2974 closed, assigned to KubaMikolajczyk

[2022-08-19 12:44] singulart commented on #3061
Shall I click these links under Chromium?

[2022-08-19 12:46] rafalpawlow commented on #3061
@singulart Exactly. For me these mp4 doesn't work in chromium (same as joystream videos) and I wonder if it is not some kind of bug in chromium

[2022-08-19 12:49] singulart commented on #3061
<img width="1499" alt="Screenshot 2022-08-19 at 15 47 41" src="https://user-images.githubusercontent.com/7863785/185621928-c6ae476d-6e18-41d7-b8f8-5d858ee339dc.png">

[2022-08-19 12:49] singulart commented on #3061
Request to this file hangs.

[2022-08-20 06:27] Songoku1691 opened #3157 "Idea: Direct NFT sending"
**Is your feature request related to a problem? Please describe.**

1. Yes, I realized there is no sending function for video NFTs in Atlas. You can use this function when gifting NFTs to somebody.

2. Also, I noticed there was an editing mistake in one of my Atlas NFT's so I wanted to delete it. However, I understand you can't delete an NFT on any blockchain.

**Describe the solution you'd like**

[2022-08-20 12:04] bedeho commented on #3142
Thought about this some more, and I think I agree this is actually pretty valuable, and possibly quite cheap - so never mind my prior skepticism, but still think its good to only start it based on a review of all the other parity features.

[2022-08-22 08:30] #2383 closed, assigned to rafalpawlow

[2022-08-22 08:32] #3073 closed, assigned to drillprop

[2022-08-22 08:33] #3139 closed, assigned to rafalpawlow

[2022-08-22 08:42] #3107 closed, assigned to rafalpawlow

[2022-08-22 08:53] #3070 closed, assigned to rafalpawlow

[2022-08-22 08:53] #3138 closed, assigned to rafalpawlow

[2022-08-22 10:38] #1787 closed, assigned to nobody

[2022-08-22 11:56] dmtrjsg commented on #2973
Things to follow up on:
1. Update LP CTA to Go to Dashboard for participating channels (+ small note, same as one in the bottom of dashboard on how to add another channel)
2. Responsive
3. Remove Links to actions on Auth Flow last step > Confirmation page, only link to dashbaord (maybe some visual?)
4. We are not able to pre-populate emails for that screen in Auth flow, so microcopy needs to be up

[2022-08-23 09:13] kdembler opened #3164 "Wrong entries in My uploads when channel and video assets upload failed"
**Steps to reproduce**
1. Make sure your uploads will fail. You can do that by, for example, adding `timeout: 1` option in axios config in `useStartFileUpload.ts`, line 140
2. Create new channel and try to upload an asset (maybe works with channel update too?)
3. Once upload fails, publish a video
4. Video assets upload will fail too, but video assets will be under "Channel assets" tab in My uploa

[2022-08-23 11:07] rafalpawlow commented on #3061
This looks like a bug in chromium and not joystream. I'm afraid there is nothing we can do on our side.

[2022-08-23 11:07] #3061 closed, assigned to rafalpawlow

[2022-08-23 23:01] #3012 closed, assigned to rafalpawlow

[2022-08-24 12:14] drillprop opened #3167 "In video workspace sometimes thumbnail and video data is not correctly set on MultiFileSelect"
On the `carthage` and the `subtitles` branches, we're getting some errors in the console once the video workspace is added. The animation is not fluent and sometimes thumbnails and videos are not loading at all.

The problem was probably introduced in #3087.

https://user-images.githubusercontent.com/51168865/186414862-d8f94d3f-4f4a-4f67-bf4b-40765f0a942a.mov

[2022-08-24 17:08] bedeho opened #3170 "Question: Hosted Atlas"
# Background

If you show up to `Atlas` as a new user, you have to install an extension (which involves like 6 clicks ?) and for pretty much all actions you have to go through a signer+password flow to do any on-chain action, and if you want the experience to work on a new device or browser, you would have to install it again and export+import the seed. This could discourage people trying out the

[2022-08-25 08:25] bedeho opened #3171 "Update Talisman library"
The Talisman install link is currently linking to the spirit key page, but the team request it links to `https://talisman.xyz/download
`.

[2022-08-25 08:46] bedeho opened #3172 "Provide better error messages for failed faucet requests"
## Scope

- [ ] implement custom messages in the popup notiffs as per [this comment ](https://github.com/Joystream/atlas/issues/3172#issuecomment-1268525367)
- [ ] keep generic error message for all cases not defined in point 1

## Context

**Describe the bug**

Membership creation with Talisman failing.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://play.joystream.org/studi

[2022-08-25 09:12] drillprop opened #3173 "Allow removing channel/member avatar without editing the current one"
Currently, the only way to remove your existing avatar and select a new one is to go edit the existing image, click delete and then select new file. This doesn't make much sense because avatar is already cropped so editing it will never be user's goal, they will always want to pick a new image. We should let them just remove the current avatar easily:

https://user-images.githubusercontent.com/126

[2022-08-25 16:43] #3036 closed, assigned to drillprop

[2022-08-25 17:03] #3038 closed, assigned to drillprop

[2022-08-25 17:04] #3078 closed, assigned to drillprop

[2022-08-25 19:20] ninja-fire opened #3175 "'unsupported file type selected' popup"
**Describe the bug**

the 'unsupported file type selected' popup still pops even after a good file type has been uploaded. this pop up appears each time you make a new action on the page:
-uploading thumbnail
-validate video and broadcast transaction
-...

**To Reproduce**

Steps to reproduce the behavior:

1. upload a wrong file type
2. Click on 'reselect file'
3. upload the right file type
4. 'u

[2022-08-26 08:28] kdembler opened #3176 "Subtitles integration followup"
Followup to #3169

- Allow downloading already published subtitle (via "Download file" context menu option)
- Improve subtitle validation in VideoForm:
    - Disallow publishing without selecting a subtitle file
    - ~Disallow selecting subtitle language if subtitles for that language have already been published~
- Verify that code removed from `UploadStatusGroup.tsx` wasn't needed. Confirm that

[2022-08-26 10:18] rafalpawlow opened #3177 "Editing selected subtitles"
When you edit a video with subtitles, you can reselect the language that is already added.

https://user-images.githubusercontent.com/13706246/186882657-5d52fb80-84c3-4dfa-aa9c-58d4bf1d0dae.mov

[2022-08-26 13:01] #2884 closed, assigned to drillprop

[2022-08-26 14:41] dmtrjsg opened #3178 "Test Invitation Lock coverage of Misc fees Atlas"
@dmtrjsg commented on [Fri Aug 26 2022](https://github.com/Joystream/pioneer/issues/3579)

## Context

2nd round of QA, Env details are in the Epic pls see pioneer/3577>
- https://github.com/Joystream/pioneer/issues/3577

Testing Invitation Lock Fees Coverage

## Scope

1️⃣ Ensure that 100% Invitation lock funds received from Faucet can only cover the following transactions:

###  ✅  Transactions

[2022-08-26 14:42] dmtrjsg opened #3179 "Test That Vesting Locks do not cover tx fees, storage and bloat bond fees Atlas"
@dmtrjsg commented on [Fri Aug 26 2022](https://github.com/Joystream/pioneer/issues/3580)

## Context
2nd round of QA, Env details are in the Epic pls see pioneer/3577>
- https://github.com/Joystream/pioneer/issues/3577

Testing Vesting Lock Fees Coverage

⚠️ this issue must be tested together with:
- https://github.com/Joystream/pioneer/issues/3452

## Scope

1️⃣ Ensure that Vesting lock in Atlas

[2022-08-29 06:19] #3054 closed, assigned to drillprop

[2022-08-29 06:54] #3043 closed, assigned to kdembler

[2022-08-29 06:54] #3133 closed, assigned to rafalpawlow

[2022-08-29 06:55] #3118 closed, assigned to kdembler

[2022-08-29 07:51] bedeho opened #3180 "Idea: Opinionated wallet selection"
# Background

Right now we present a new user, who does not have a wallet, with a neutral list of wallets to install, of which we will support 3, possibly more in the future.

# Proposal

This does not really serve he product, a user does not have information or apatite to learn about distinctions, so we should just tell them to install a specific wallet which is known to be compatible with their

[2022-08-29 09:40] dmtrjsg commented on #3180
Afaik we pre-agreed to recommend Talisman with a simple label "Recommended" and put it on top of the list.

[2022-08-29 09:45] dmtrjsg opened #3181 "Revise Copy for YPP"
Double check if copy is production ready for us to review as a team on the call.

[2022-08-29 09:48] KubaMikolajczyk commented on #2981
Following the feedback above I created another iteration for the channel balance. I decided to go with the suggestion to showcase it both on the channel page and the video page next to the channel & tried to show it with label & without - all of those exploration can be seen in the file here: https://www.figma.com/file/A1JMVHIbL3gBUtyDv4XFwx/Channel-balance?node-id=1101%3A103866
Or in the screensh

[2022-08-29 09:52] dmtrjsg opened #3182 "Different Name For Atlas"
## Context
Users of this product need a short, easy to pronounce name and URL which gives an association with “a place I can interact with content, entertainment, show off, etc.”

## Scope
Using GPT-3 playground generate the list of ideas for Atlas product, that can be further triaged for domain name availability.

- [ ] Generate starter list of 25
- [ ] Shortlist 5
- [ ] Check domains
__ discuss

[2022-08-29 09:55] #2908 closed, assigned to nobody

[2022-08-29 09:55] dmtrjsg commented on #2908
duplicate of #1782

[2022-08-29 09:58] #2247 closed, assigned to nobody

[2022-08-29 10:04] kdembler commented on #3172
It's not a bug per se - this failed because of faucet rate limiting. The user created a membership and then tried creating another one, while our faucet only allows one membership/48h/IP address if I'm not mistaken. If we want, we can repurpose this ticket to display better error message to the user

[2022-08-29 10:10] dmtrjsg commented on #3172
Agreed, let's display a better message, nice one 👍

[2022-08-29 10:13] dmtrjsg commented on #3175
Sorted in here:
- https://github.com/Joystream/atlas/issues/2910

[2022-08-29 10:13] #3175 closed, assigned to nobody

[2022-08-29 10:29] bedeho opened #3183 "YPP: Capture category information"
When a new creator signs up for YPP, and auto-synch works, what category should be used for those videos? We will allow infra to [capture such information upon signup](https://github.com/Joystream/youtube-synch/issues/38), but Atlas must provide it in some way? Seems it will have to ask the creator to select among one of the categories the app has been configured to supports?

[2022-08-29 10:30] dmtrjsg commented on #3053
Update to amount claimable = max claimable amount and not modifiable

[2022-08-29 10:43] #2978 closed, assigned to KubaMikolajczyk

[2022-08-29 10:44] #2977 closed, assigned to KubaMikolajczyk

[2022-08-29 10:44] #1813 closed, assigned to kdembler, toiletgranny, dmtrjsg

[2022-08-29 10:45] #2365 closed, assigned to toiletgranny

[2022-08-29 12:29] KubaMikolajczyk commented on #3101
Done ✅
All of the changes are now reflected in the designs which can be found here:
Subtitles flows: https://www.figma.com/file/xm6vBdSnQDroc57rGfGtPM/Video-workspace?node-id=2653%3A124752
Changelog: https://www.figma.com/file/xm6vBdSnQDroc57rGfGtPM/Video-workspace?node-id=1378%3A93428

[2022-08-29 12:36] KubaMikolajczyk commented on #3181
Copy double-checked — ready to be reviewed on the call.

[2022-08-30 11:02] #3131 closed, assigned to rafalpawlow

[2022-08-30 11:03] #2385 closed, assigned to rafalpawlow

[2022-08-30 11:32] KubaMikolajczyk commented on #1873
Competitive research & Explorations are done ✅
🎥 Loom video: https://loom.com/share/aea2de75c46c43b18ec492608bf52d20
📄 Figma research: https://www.figma.com/file/T91xLMaDc5tjGDWIVldv2h/NFT-Marketplace?node-id=803%3A174
📄 Figma explorations: https://www.figma.com/file/T91xLMaDc5tjGDWIVldv2h/NFT-Marketplace?node-id=1212%3A41768

[2022-08-30 11:56] #2524 closed, assigned to drillprop

[2022-08-30 11:56] #3177 closed, assigned to drillprop

[2022-08-30 16:50] dmtrjsg opened #3186 "Cropped thumbnails error"
## Context

When asset (thumb) gets an upload error; video does not show up in My videos in the studio view
Reuploading thumbnail did not trigger an upload modal, but shown an error instead.

## Scope
- [ ] Fix reupload flow
- [ ] Add editing video from video details view?

⚠️ do together with #3130

[2022-08-30 17:19] dmtrjsg commented on #1873
@KubaMikolajczyk solid work 💪 My initial suggestion was to add a few sections, but I really like where you are taking it!

1. Decorating the landing screen is good, How about a hero banner with the Section from Joystream.org on the very top with the CTAs "Explore All NFTs/ Mint"?
2. Let's keep the search bar on top for the consistent header across all viewers experience
3. I think 'Trending' is a

[2022-08-31 06:51] KubaMikolajczyk commented on #3053
Required changes done ✅
- Changed modal for claiming the reward to be always equal to max reward ( removed input for entering a custom value)
- Removed scenarios for Insufficient Joy to cover tx fees/ null claim / claim more than balance (these do not apply based on max amount claimable at all times)
[Link](https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=1547%3A19340)

[2022-08-31 08:33] #3116 closed, assigned to kdembler

[2022-08-31 09:08] bedeho commented on #1873
# Note on competitive research

I think we should be using competitor research, in general, as a way to find inspiration and references on addressing known problems we have, either indicated by data or some other form of qualitative user feedback, **at least when we are not in the 0-to-1 stage of some product feature**, but rather doing refinements or improvements. Other products will have differe

[2022-08-31 09:19] kdembler opened #3188 "Embedded player issue after full screen"
1. In an embedded player, enter full screen
2. Exit full screen
3. After you exit, player layout is broken

https://user-images.githubusercontent.com/12646744/187643966-266d0690-0eb7-4022-a865-d5d711bb037a.mp4

[2022-08-31 09:53] kdembler commented on #3130
@dmtrjsg I think you meant to move this to design sprint backlog, not dev sprint backlog?

[2022-08-31 10:07] kdembler opened #3189 "Write dev testing scenarios"
Prepare a list of things to check in the app before we do a deploy. For example:
[code]

[2022-08-31 10:43] #3044 closed, assigned to rafalpawlow

[2022-08-31 11:06] dmtrjsg commented on #1873
Agreed to park this topic till we get the problem better refined:
- more insight into the marketing channels of acquisition that work
- appetite of users to purchase NFTs from unfamiliar creators vs being brought to the app by specific creators and purchasing from their channel page
- conduct research interviews with creators to get their view and expectations
- understand the content curation fea

[2022-08-31 11:58] #3135 closed, assigned to drillprop

[2022-08-31 12:00] drillprop opened #3192 "User can't remove uploaded member avatar"
as the title says

[2022-08-31 13:41] kdembler opened #3194 "Don't try to resolve non-accepted assets"
Even though, we do filtering to not show videos with some of their assets missing, it still can happen that the channel the video belongs to has an avatar that wasn't uploaded. Even though the asset is marked as `isAccepted: false`, we still try to resolve it and make requests to distributors. In that case we should just display some fallback image and not try to resolve the asset at all

[2022-08-31 14:20] dmtrjsg commented on #1873
Correction:
- parking all NFT related issues to be properly user-feedback driven.
cc @toiletgranny

[2022-08-31 16:14] dmtrjsg commented on #3130
yes absolutely, thanks  for the pointer ;) @kdembler

[2022-09-01 09:06] kdembler commented on #3089
Will be done in https://github.com/Joystream/atlas/issues/3178 and https://github.com/Joystream/atlas/issues/3179

[2022-09-01 09:06] #3089 closed, assigned to nobody

[2022-09-01 12:56] toiletgranny commented on #2973
Hey @dmtrjsg, all the above points (and more) are now addressed and are ready to be implemented. :)

https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1818%3A91087

[2022-09-02 08:56] #3167 closed, assigned to rafalpawlow

[2022-09-02 09:17] rafalpawlow opened #3200 "Broken Sign in layout"
Below about 1450px width, something bad happens to the layout
![Zrzut ekranu 2022-09-2 o 11 15 29](https://user-images.githubusercontent.com/13706246/188107248-e8874ee6-de1f-4d62-a1ef-d455e98aba22.png)

[2022-09-02 10:03] toiletgranny opened #3201 "Sign in flow changes PR review"
1. **As is:** Color of the Atlas logo in the Sign in dialog is the primary blue.
   **To be:** It should be `Text/Default/Muted`.
1. **As is:** Tooltip copy in the first step of the Sign in dialog ("Select wallet") does not match the designs.
   **To be:** It should match the designs — [link](https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in?node-id=1272%3A37239).
1. **As is:** Body copy i

[2022-09-02 10:34] toiletgranny opened #3203 "Uploading avatars + Avatar component changes PR review"
1. **As is:** Hovering over an avatar in the `AvatarGroup` component triggers a hover state of the Avatar component itself.
   **To be:** The Avatar component should be in its _unclickable_ state in this component, [just like in this version of this component](https://dev--atlas-storybook.netlify.app/?path=/story/other-avatargroup--default).
2. **As is:** When the `editable` property is set to `fa

[2022-09-02 10:49] toiletgranny opened #3204 "Reporting channels and videos PR review"
1. **As is:** Trying to submit a report exceeding 400 characters limit, a general error Snackbar component is displayed.
   **To be:** Actually, this case wansn't addressed in the designs, but I fixed that, and now the designs for this [can be found here].(https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=6125%3A272695)
1. I think the specification for dialogs implementation was

[2022-09-02 11:35] toiletgranny opened #3205 "Atlas fees support in components PR review"
1. Copy in the comments & reactions being stored on the blockchain popover is not updated. The up-to-date copy [can be found here](https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=2213%3A145708).
2. Copy in the tooltip in the Comment input component is not updated. The up-to-date copy [can be found here](https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=2431%

[2022-09-02 13:42] toiletgranny opened #3206 "Transfer/Withdraw dialogs PR review"
2. **As is:** Hovering over the Avatar component in the Destination account input field doesn't trigger a tooltip with a member handle.
   **To be:** It should, accordingly to the designs [(link)](https://www.figma.com/file/uHzbhNX9dP4QtZbIapvZI6/Transfer-dialog?node-id=1013%3A5566).
3. ~**As is:** (*) Having clicked on the "Max" button next to the "Amount to transfer" input field, the inserted va

[2022-09-02 14:26] toiletgranny opened #3207 "Subtitles PR review"
1. **As is:** During video upload, when selecting a file called "name.srt", in the UI it's labeled as "name.vtt".
**To be:** At this point it's still a `.srt` file, and it's best to refer to it as such, otherwise we might confuse users and trick them into thinking that perhaps a different file got picked up off their hard drive (my story).
2. ~What's with the list of languages? Where did we get it

[2022-09-03 06:32] mochet opened #3208 "Idea: Normalize volume levels"
A brief explanation of normalizing volume levels: https://higherhz.com/audio-normalization/

One problem YouTube and some other video apps suffere from is highly differing standards when it comes to volume on videos. Unlike broadcast TV where there are standards for this, user generated content varies wildly. This means you could watch a video that is recorded very quietly and the next video has t

[2022-09-05 07:10] kdembler commented on #3207
2 - The current list of languages have been prepared ages ago, when doing the first Studio iteration I think. I'm fine with expanding it, we would just need to find a list that makes sense.

4 - I think we shouldn't really allow the user to "publish" subtitles without a file. In that case I would either:
a) Force the user to delete subtitles language without file attached
b) Just filter it out dur

[2022-09-05 11:02] bedeho opened #3211 "Idea: Nicer broken avatar URL"
Looks bad right now

![Screenshot 2022-09-05 at 13 02 07](https://user-images.githubusercontent.com/437292/188434250-acd2a35f-5d60-4f2d-9d1e-d1eef26594c6.png)

[2022-09-05 11:31] KubaMikolajczyk commented on #3080
All loading states for widgets provided ✅
Designs: https://www.figma.com/file/ZFRXsyGvnBXnkDUUGc5vyR/My-payments?node-id=2007%3A28623

[2022-09-05 11:45] KubaMikolajczyk commented on #3117
Proposition for CRT placeholder is done based on placeholder page for my payments ✅
https://www.figma.com/file/VzPBMpUnGjGOHMSW2ZHbGY/Creator-tokens?node-id=2615%3A201416

[2022-09-05 12:22] #2976 closed, assigned to rafalpawlow

[2022-09-05 12:25] bedeho opened #3212 "Discussion: Category filtering details in `Carthage`"
There are a few unresolved loose ends w.r.t. how category filtering should be done in Carthage

1. Only on `Discovery` screen, or outside as well.
2. Playback filtering, e.g. user punching in raw video ID.
3. NFT filtering on  `NFT` screen & home screen: this is difficult due to lack of relationship filtering in QN.

My POV:

- I think 1 was a yes?
- I think 2 & 3 have to have same value (yes/no),

[2022-09-05 12:59] kdembler commented on #3212
My POV:
1. I don't fully understand what you mean by that point but here's my look on this topic:
- Operator defines set of _display categories_ `Y`. Those are categories visible in `Discover`. For each of those they specify:
  - Display name
  - Icon
  - Color
  - Image (this and all above is used by `Discover` screen)
  - Set of QN category IDs that this _display category_ supports. This set is

[2022-09-05 13:04] bedeho opened #3213 "Better error handling on filtered out videos"
## Context

Atlas instances will filter out videos that are not within the category space of a given instance, and this means that even if you provie a valid video ID to the player, you should not get playback. We should have a better explainer of why the video cannot be played than simply "missing video" or whatever the default message is when a video literally does not exist.

Additionally, cont

[2022-09-05 13:04] bedeho commented on #3212
1. This is exactly what I meant ;)
2 & 3: 100%,  made issue for a better messaging screen here: https://github.com/Joystream/atlas/issues/3213 . There is a risk people will end up hitting this message for various reasons, so lets treat it in a more careful way.

Question: was any of this actually for Carthage? I thin it was not first, then it was in some random Slack message, but I keep confusing

[2022-09-05 13:27] kdembler commented on #3212
This originally wasn't meant for Carthage but I think we can squeeze it in. These are design implications that come to my mind:
- In video view, we currently display single category the video belongs to, that's QN category. We also display icon next to it, using in-app mapping. After those changes we can go to ways about it:
  - We either display only a name of QN category video belongs to (there

[2022-09-05 16:42] eclipsingbinary commented on #2295
This is very interesting.

- _"Explore & build ecosystem bridges that connect different ecosystems with social content or financial relationships"_

I'm new to gateways but adding modularity is something I do think about.

Here are a few ideas, I don't claim that they're good ideas or if they are feasible, I don't even know if they make any sense lol, but that's where my head goes.

1. Tiered Subs

[2022-09-06 04:32] mochet opened #3215 "Idea: RSS Feeds for Gateways/Atlas"
SSIA.
RSS feeds are still utilized by quite an amount of people, are dependable and can help work around typical notification requirements.

[2022-09-06 07:28] #3192 closed, assigned to drillprop

[2022-09-06 08:59] #3200 closed, assigned to nobody

[2022-09-06 10:19] drillprop opened #3216 "Create BenefitCard component"
Design:
https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1815%3A619076

![image](https://user-images.githubusercontent.com/51168865/188611007-25b902f8-3ec6-4bcb-bafd-dee8fc847a68.png)

[2022-09-06 12:26] #2910 closed, assigned to rafalpawlow

[2022-09-06 13:17] #3093 closed, assigned to rafalpawlow

[2022-09-06 13:17] #3176 closed, assigned to rafalpawlow

[2022-09-06 13:20] #3152 closed, assigned to drillprop

[2022-09-07 07:27] #3114 closed, assigned to kdembler

[2022-09-07 07:39] kdembler opened #3220 "Allow customizing app name"
Currently all the product names ("Joystream" on master/dev and "Atlas" on carthage) are hardcoded into specific components and messages. Let's introduce a variable in the app config letting an operator to easily update the product name to something else

[2022-09-07 07:41] kdembler opened #3221 "Upload fails for unlisted videos"
Seen on production.

Something's wrong with out uploading code as it fails to start uploading an unlisted video:

![image](https://user-images.githubusercontent.com/12646744/188818755-c7996e32-17aa-410c-ba0a-57797f789abb.png)

[2022-09-07 09:01] kdembler opened #3222 "Validate user has enough funds for tx"
**AC:**

- [ ] Every time we would send a transaction, validate that the user has enough funds for transaction

---

Currently if the user doesn't have enough funds to pay for transaction fee, we will still let them initialize the tx and they will end up with a failed transaction and "not enough funds" message. We should check whether user has enough funds before we let them sign a transaction and

[2022-09-07 10:20] ivanturlakov opened #3223 "Incorrect display of likes and dislikes for the video(carthage local)"
The problem was noticed when running Atlas locally from the carthage branch

Before - 0:0
Thumbs Up
After - 1:1
<img width="152" alt="Снимок экрана 2022-09-07 в 13 04 14" src="https://user-images.githubusercontent.com/46903215/188853484-cdbc7b11-fac3-4cef-99b6-31aa2956ef38.png">

Before - 0:0
Thumbs Down
After - 0:0
<img width="144" alt="Снимок экрана 2022-09-07 в 13 06 55" src="https://user-image

[2022-09-07 10:36] ivanturlakov opened #3224 "Cover and description didn't change after the channel was updated(carthage local)"
The problem was noticed when running Atlas locally from the carthage branch

Cover and description didn't change after the channel was updated

Successful transaction: Withdraw, Withdraw, Deposit, Withdraw, VoucherChanged, VoucherChanged, Transfer, DataObjectsUpdated, ChannelUpdated, ExtrinsicSuccess
on network: wss://atlas-next.joystream.org/ws-rpc
in block: 0x0bf80efcbac254bf85623ca6a509cd160110

[2022-09-07 10:52] ivanturlakov commented on #3178
### Transactions Supported Atlas

✅ Standard transactions - Like/Comment/Follow
Successful transaction: Withdraw, MemberRemarked, ExtrinsicSuccess
on network: wss://atlas-next.joystream.org/ws-rpc
in block: 0xb941cd8da4cd21732050f5c9af52a604c841f8a21734b0542cf8630fafc52fd5
extrinsic hash: 0x599d873babbad8e143276172a9e20be23a20018e800635262c77365555bba748
more details at: https://polkadot.js.org/ap

[2022-09-07 11:00] #2556 closed, assigned to drillprop

[2022-09-08 08:05] #2975 closed, assigned to rafalpawlow

[2022-09-08 08:27] kdembler opened #3226 "Change tooltip for Joy token icon"
We shouldn't mention anything relating to future exchange listing. Let's find a different copy for this tooltip or get rid of it

<img width="261" alt="CleanShot 2022-09-08 at 10 26 10@2x" src="https://user-images.githubusercontent.com/12646744/189073840-0eedd394-e5c9-490f-95db-69c6df9d82db.png">

[2022-09-08 09:59] drillprop commented on #3147
FYI this section, which could be interpreted as part of this "reward section" 👇🏻
 ![image](https://user-images.githubusercontent.com/51168865/189093598-c4f92256-2b67-4f5e-b12d-d3ecd64006cb.png)

Will be done in #3149

[2022-09-08 10:57] polikosi commented on #3179
⛔ Not Supported

**- Standard transaction fees**
Like/Comment
Successful transaction: Withdraw, MemberRemarked, ExtrinsicSuccess
on network: wss://atlas-next.joystream.org/ws-rpc
in block: 0x1e5b75f2683bceb01810fe94043b2e957bd4930ed8d62ec55c0848349e442a30
extrinsic hash: 0x595c113025b31c358082a6b997de203d789c02f14eb71fb53a6ff378d5f5ae10
more details at: https://polkadot.js.org/apps/?rpc=wss://atla

[2022-09-08 12:51] KubaMikolajczyk commented on #2688
1st Exploration (Pen & Paper) Holders experience
🎥 Loom: https://www.loom.com/share/9f77a6d60fdc424795189fd4dea7e2ac
📄 Figma files: https://www.figma.com/file/VzPBMpUnGjGOHMSW2ZHbGY/Creator-tokens?node-id=2630%3A210854

[2022-09-08 12:52] kdembler commented on #3221
Turns out it wasn't an issue with unlisted videos or even with Atlas itself. The issue was with some of the storage operators that didn't accept uploads.

[2022-09-08 12:52] #3221 closed, assigned to kdembler

[2022-09-09 08:01] kdembler opened #3231 "Bad visibility of Joystream logo in embedded player"
<img width="612" alt="CleanShot 2022-09-09 at 09 58 22@2x" src="https://user-images.githubusercontent.com/12646744/189301740-2930e148-c9db-478d-8390-1b221522ecd5.png">

For some bright video covers, the logo in the bottom right may not be very visible, maybe it's worth adding very subtle shadow at the bottom to alleviate?

[2022-09-09 08:43] #860 closed, assigned to nobody

[2022-09-09 08:43] #858 closed, assigned to nobody

[2022-09-09 08:45] kdembler opened #3232 "Carthage video workspace edit empty data"
<img width="1902" alt="CleanShot 2022-09-09 at 10 45 03@2x" src="https://user-images.githubusercontent.com/12646744/189310385-e7880178-1346-4e3d-8ef5-ee788e2420c7.png">

[2022-09-09 10:45] #3216 closed, assigned to rafalpawlow

[2022-09-09 12:12] #3232 closed, assigned to kdembler

[2022-09-09 13:20] dmtrjsg opened #3237 "Can't delete channel cover when creating a channel"
**Sender**: pavellusikov@gmail.com
**Taken at**: https://play.joystream.org/studio/channel/new
**Fields**:
- Expected Result: Now you can&#39;t change the cover image when creating a channel. If I accidentally uploaded the wrong picture and want to change it, then don&#39;t do it now.
There is no such problem with uploading an avatar. If I uploaded the wrong one, I can click &#34;Delete&#34; and i

[2022-09-10 08:48] dmtrjsg opened #3239 "Show channel ownership of NFT"
- [ ] Display the channel as the owner in the NftWidget
- [ ] Display the channel as the owner in the NftTile

---

**Sender**: None
**Taken at**: https://play.joystream.org/video/27410
**Fields**:
- Expected Result: On player page, the avatar used for the owner does not show the channel avatar when the NFT is owned by the channel, it shows the member. The name however correctly uses the channel n

[2022-09-10 10:22] bedeho commented on #2688
Thank you for preparing this, I can tell it's been a long while since we looked at this, but its great to get back into this.

1. While having a dedicated space which is easy to get to for creator tokens makes a great deal of sense I think, it's not clear to me why we would not need a similar space for managing NFTs we own? There are similar owner specific actions, as well as a total overview, tha

[2022-09-10 13:21] bedeho opened #3240 "Idea: Better upload handling"
# Background
Right now, for a mix of technical and social reasons, storage providers are failing to absorb uploads reliably. There are discussions ongoing about how to address this, but its not clear exactly when they will conclude and materialize.

# Proposal
1. **Smarter clients side logic:** I hate to make the client thicker, but perhaps this one intervention won't be too bad. Perhaps, before t

[2022-09-12 06:21] kdembler commented on #3240
1. I wouldn't go with try-all approach, I think we should use the same as we do for distributors, so pick the operator closest to you geographically. We already have all the setup, just a matter of enabling the same logic to operators. If you pick one closest to you and the speed it still poor, then that's an issue to be solved with the operator.
2. We do some kind of reporting already. We have th

[2022-09-12 07:11] bedeho commented on #3240
What is the cost though, specifically. Replication factor is like 5 now, seems like both the tech & performance side of doing that investigation is small, and sounds like sort of reuable code that other apps may want in the future, even if Atlas does not.

1. Is the use of sentry some how built into Atlas, or could one use any random kind service on the other end without having to rip out some sor

[2022-09-12 08:13] kdembler commented on #3240
Just to make sure, you are talking about making changes to Colossus so it offers this kind of a test endpoint that can be used to measure speed? I just don't think it's app's job to ensure the storage network works properly, it should be on WG and it should just work. To make things clear, depending on how this new functionality exactly functions, while it could allow us to measure performance, it

[2022-09-12 11:26] bedeho commented on #3240
Yes.

I agree this sort of heavy probing should not be part of default functioning of the app, however reporting errors upon observed failures should. The question is: would it not be worth it as a stop gap? this boils down the cost side. So I am just asking from a pragmatic point of view.

Ok, I'm making an issue to decouple this at some point in the future:

[2022-09-12 11:40] bedeho opened #3241 "Idea: Decouple from Sentry logging service"
# Background
Currently, logging of errors relies on the [Sentry](https://sentry.io) logging service, which is a closer logging infrastructure. Dependency happens specifically through use of their client side loggin library or interacting with their infrastructure, but its very well isolated in the overall codebase. Some operators may not want or be able to use this service, in particular when it s

[2022-09-12 12:27] kdembler commented on #3240
Fully agreed.

Right. So while it's not super complex, it may not be that easy to do on our side. The uploading code is quite old at this point (we've made only slight adjustment since first Sumer release) and I think to make this work properly we would need to do a slight refactor. While this adds up the cost, I think this could allow us to make further improvements to uploads easier in the futur

[2022-09-12 13:05] bedeho commented on #3240
Great, I can prepare an issue, but in attempting to do so, it just raised a perhaps obvious question I should have asked sooner: do we actually have any reason to believe, currently, that any substantial % of upload failures occur _after the download is initiated_? Because, lets say this never happened, and 100% of all upload failures have to do with just being unable to establish the connection o

[2022-09-12 14:45] kdembler commented on #3240
In cases I have investigated, 100% failures occurred after the full file was uploaded, in the finalization step.

[2022-09-12 15:22] bedeho commented on #3240
Do you think all of the failures could just be the same problem? is there any reason to suspect otherwise currently?

[2022-09-12 15:43] dmtrjsg commented on #3179
Hey @polikosi thanks for running though the scenarios, I am afraid this one needs to be retested..

After looking into all transaction links (thanks for providing those btw!!) we figured that most likely the account used in testing was used to create membership with help of Faucet which led to 'Invitation lock' applied and sponsoring the use cases.

Suggestion is to get an account which has ONLY t

[2022-09-12 18:38] kdembler commented on #3240
No, I've seen at least 3 distinct error messages:
1. Incorrect bucket ID - this was related to misconfigured worker ID and should be alleviated with this PR: https://github.com/Joystream/joystream/pull/4283
2. Incorrect file size - no idea what this was about, I've only seen it in one node and other nodes accepted the same asset just fine.
3. Failed to send extrinsic - like above, have seen it onl

[2022-09-13 07:15] #3026 closed, assigned to kdembler

[2022-09-13 07:15] drillprop opened #3245 "Infinite scrolling not working for "All content" section on Homepage"
It looks like after you click the "load more" button several times, the app not fetching more videos.
![image](https://user-images.githubusercontent.com/51168865/189834942-267073ef-3e41-461a-9ba6-549719288b87.png)

Surprisingly everything seems fine on the `recently uploaded` section in New & Noteworthy

[2022-09-13 09:04] kdembler opened #3246 "Fix Studio redirects"
When you reload while being on Studio URL, the app always redirects you to `studio/videos` and does some weird redirect loop. We should fix that

[2022-09-13 11:38] KubaMikolajczyk commented on #2688
Thank you for the feedback :)

Answers:
1. I think it makes a lot of sense to have them both in one "Portfolio" page - to look at all of the assets that one can own. I would be happy to explore such direction.
2. If we decide to commit the NFTs from here we can also call this page "wallet"
3. Right! There will be two versions prepared
4. I agree!
5. I can explore that :)
6. OK I will drop this
7.

[2022-09-13 12:14] kdembler commented on #3240
@bedeho I did a quick look at Colossus code and I think I figured out reasons for errors above:
2. https://github.com/Joystream/joystream/issues/4293
3. https://github.com/Joystream/joystream/issues/4292

Please assign priority to those as you fit

[2022-09-13 12:19] kdembler commented on #3223
Thanks for the report @ivanturlakov! We fixed it in https://github.com/Joystream/atlas/pull/3247

[2022-09-13 12:19] #3223 closed, assigned to drillprop

[2022-09-13 13:03] bedeho commented on #2688
I think portfolio is actually great, wallet is scary, makes you think of keys, secret phrases, addresses, sending (looosing!) funds, etc. I think main function of this screen is to manage what you own, so portfolio is great.

[2022-09-13 13:42] KubaMikolajczyk commented on #2408
# CRT Owner & Issuer usability tests
### Overview
We conducted 4 usability tests for the CRT Owner & Issuer experience. We hoped to gain a deeper understanding of potential user pain points and preferences.

![image](https://user-images.githubusercontent.com/31144205/189899770-26bc6b60-9121-46fa-9f99-757d75d45ada.png)

👥 4 participants
# Joystream members to be paid (Bitcoin Cash | BCH) 👈 @bwhm
16

[2022-09-13 15:57] dmtrjsg opened #3248 "Use selected wallet name in minimized transaction snackbar"
**Scope:**

- [ ] Go through the app to ensure we don't use hardcoded "Polkadot" wallet name anywhere and always use selected wallet name.
- [ ] These places are affected for sure:
  - [ ] Minimized transaction snackbar (`packages/atlas/src/providers/transactions/transactions.manager.tsx`)
  - [ ] There are other transactions waiting for signature (`packages/atlas/src/providers/transactions/transa

[2022-09-13 16:25] polikosi commented on #3179
⛔ Not Supported

**- Standard transaction fees**
![image](https://user-images.githubusercontent.com/80429191/189954531-fddff65f-22eb-486d-96ee-88ad5a21f3ad.png)

**- Transfers (balances::transfer, balances::transfer_keep_alive(), balances::transfer_all())**
_balances::transfer_
![image](https://user-images.githubusercontent.com/80429191/189954621-48710e3b-1579-4cdd-a946-7dbcf9e06272.png)

_balance

[2022-09-13 16:32] bedeho commented on #3248
I opened Talisman later, it seemed to be in some old "approve mode" or something which was not shown last time, this may be the cause, so may be a bad Talisman UX issue causing the hanging,but copy issue still remains.

[2022-09-14 08:20] #3220 closed, assigned to drillprop

[2022-09-14 10:03] kdembler commented on #3248
We removed most references when doing multi-wallet support but missed that and one more place, thanks for reporting 👍

[2022-09-14 10:05] kdembler commented on #3241
@bedeho I'm not sure what is the goal of this issue. The app isn't really couple with Sentry - we have a logging abstraction and all Sentry interaction happens in this specific file - this way if somebody wants to use something else it's enough to update the logger implementation, without touching other parts of the codebase. What further improvement would you like to see?

[2022-09-14 10:22] dmtrjsg commented on #2408
# Research Outcome Comments

## 1️⃣ Issues with Creating CRT exp

 ✅go for it

✅Yes, needs to be a small para about setting up the basic  attributes of token

❓  is it not because we did not have a tooltip?

✅ yes perhaps we could just go with "Stable reward to the creator for managing the tokens supply. And then go with recommendations.

__

❓ General header to explain that this page relates to t

[2022-09-14 15:29] KubaMikolajczyk commented on #2688
2nd Exploration (Pen & Paper) Holders experience
🎥 Loom: https://www.loom.com/share/822ca3ea92e24f178ebd5031e02083e4
📄 Figma files: https://www.figma.com/file/VzPBMpUnGjGOHMSW2ZHbGY/Creator-tokens?node-id=2830%3A222027

Please let me know if we are on the right track and can proceed to higher fidelity with this :)

[2022-09-15 06:09] dmtrjsg commented on #2981
Thanks guys, iteration 3 works well 👍

[2022-09-15 06:19] dmtrjsg commented on #3101
Looking good, two small questions:

@KubaMikolajczyk pls add the case for zero matches for keybord input to the field.
@kdembler pls advise on adding subtitles to minted NFTs.

[2022-09-15 06:27] #3194 closed, assigned to drillprop

[2022-09-15 06:27] #3245 closed, assigned to drillprop

[2022-09-15 06:32] dmtrjsg commented on #3117
Just a small copy update for H2:

From this:
<img width="678" alt="Screenshot 2022-09-15 at 10 31 47" src="https://user-images.githubusercontent.com/93924525/190331048-b8a74f91-60ad-41de-b8d7-6d77e41d80b2.png">

To this: With Creator Tokens, channel owners are able to mint their own personalised tokens and let their audience buy and hold a share in the channel.

[2022-09-15 07:30] bedeho commented on #2688
Great job, this was really concise and small scope, easy to give feedback.

1. I think the variation with only two tabs was better, and a floating card whenever it rarely is needed above. Perhaps having a title like "Active revenue splits" or something seems like a nice addition.
2. I agree with having uniform amounts in one multiway transfer, overhead is small, and ux was getting quite involved.

[2022-09-15 07:37] kdembler commented on #3101
Once NFT is minted, it's not possible to add/remove subtitles

[2022-09-15 09:49] dmtrjsg commented on #2688
Looks solid for me, a few questions / comments:

1. "Discover more tokens" underneath your portfolio - where does it get the user to? Does this warrant some sort of a table view for tokens discovery on a dedicated page? (dont remember this was addressed as part of Viewers, worth creating an issue for this and adding to the pipe, probably ok for MVP to have it a table with search and filters undern

[2022-09-15 10:10] dmtrjsg commented on #3183
Firstly Atlas category structure should be cross checked with YT category structure. Thesis is that when it was set up we loosely replicated YT, so need to check for the diff of the trees to be able to solve for it.

[2022-09-15 11:09] kdembler commented on #3213
So with the current setup, we won't be able to differentiate between "video does not exist" and "video is not available in this gateway", it will look the same to us. I suggest we just design a single screen that gives a bit of info and can explain both cases

[2022-09-15 11:38] kdembler opened #3256 "Substrate vs Joystream address format UX upd"
## Scope

- [ ] Update the designs of the Transfer Modal as per [this comment](https://github.com/Joystream/atlas/issues/3256#issuecomment-1268447352)
- [ ] Update the validation to accept both Substrate generic and Joystream Specific addresses.
- [ ] Convert the address to Joystream format before sending an extrinsic

## Context

Designs for the Transfer dialog have been created around the assump

[2022-09-15 11:52] #3101 closed, assigned to KubaMikolajczyk

[2022-09-15 11:55] dmtrjsg opened #3257 "Improve language selects"
## Context

Review and extend the list of supported languages

## Scope

- [x] Update the languages list in the app
- [ ] Replace language select in VideoForm with Combobox
- [ ] Implement the new list separator
- [ ] Introduce separation into "Popular" and "All" languages

Out of scope: ⛔
- [ ] 🆕  ~Update the language select component for uploading subtitles to support multiple languages.~ not re

[2022-09-15 11:56] kdembler commented on #2981
@KubaMikolajczyk let's finalize those designs and also prepare a mobile version 🙏

[2022-09-15 12:37] kdembler commented on #3179
### Testing vesting lock for state bloat bonds

Let's assume Bob has a big vesting lock and no other funds to start with. Let's also assume Alice has a bunch of transferable tokens. Let's also use Polkadot apps for testing

1. Transfer a bunch of funds from Alice to Bob
2. As Bob, buy yourself a membership
3. As Bob, prepare create channel extrinsic and check its basic transaction fee:
![CleanShot

[2022-09-15 19:12] #3149 closed, assigned to drillprop

[2022-09-16 05:52] #3178 closed, assigned to nobody

[2022-09-16 07:06] #3248 closed, assigned to drillprop

[2022-09-16 07:23] #3246 closed, assigned to rafalpawlow

[2022-09-16 07:23] #3151 closed, assigned to rafalpawlow

[2022-09-16 09:08] #3147 closed, assigned to drillprop

[2022-09-16 13:42] #3205 closed, assigned to drillprop

[2022-09-16 14:17] #3153 closed, assigned to rafalpawlow

[2022-09-16 14:39] dmtrjsg commented on #3257
## Recommendation

Use a de-duped superset of Youtube Creator Support Languages + EU languages + Top 50 Content Websites +  top 10 APAC + top 3 African (adjusted for internet penetration) + Hebrew. This way we would not get any bad publicity of exclusion and cover all of the bases.

Top 10 languages can be arranged in alphabetical order in the top section called "Most popular", and Other languages

[2022-09-17 11:53] bedeho commented on #3241
Its always my mantra to try to make the app somewhat customizable without having to start to code _to get started_. So the idea in this case would be that over time, perhaps people write integrations for different backends, like Mixpanel, google analytics etc. It would be great if the next person to come around can just pick one of the existing integrations off the shelf without having to do any c

[2022-09-17 18:06] polikosi commented on #3179
everything seems to work as expected

![image](https://user-images.githubusercontent.com/80429191/190870515-22575823-84e4-4bb0-b376-150fb5a008d2.png)
https://polkadot.js.org/apps/?rpc=wss://3.92.226.32.nip.io/ws-rpc#/explorer/query/0x03436e5f45f95214e69653e3ea92b432d707cf35cbffff4910d7b0263ed7451e

[2022-09-19 08:21] kdembler commented on #3257
Just FYI, Query Node currently uses [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) for language codes, so if we want to avoid changes there, the languages we pick should be represented in ISO 639-1, you can find the list on wikipedia

[2022-09-19 08:57] kdembler commented on #3179
You provided big values for both state bloat bonds but those are incorrect - in this extrinsic you only provide the **expected** state bloat bond value - it needs to be exactly the same as the value on chain. Since the value on chain is different that what you expected, the extrinsic failed, but that's not related to the vesting locks. If you want the bloat bonds to be higher, you would need to ca

[2022-09-19 09:15] toiletgranny commented on #3231
@kdembler Seems like it's something that got overlooked during implementation, as the designs have shadows for all elements displayed in the player component. Please note this includes not only the logo, but also the video title and the channel name at the top.

https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=2611%3A232846

[2022-09-19 09:36] toiletgranny commented on #3213
@bedeho @kdembler @dmtrjsg I'm afraid I don't understand this part:

Does this mean that video IDs are shared across all instances of Atlas? If so, if a video is uploaded to `AtlasInstance1`, can it be accessed on `AtlasInstance2`?

I'd appreciate it if you guys could point me to some further reading on the subject or schedule a quick one-on-one call to discuss this in voice.

[2022-09-19 09:52] kdembler commented on #3213
Yes

That ultimately depends on settings of `AtlasInstance2` - only if it has overlapping category settings (video category is handled by both `AtlasInstance1` and `AtlasInstance2`)

I'm afraid there isn't any resource to do this reading, I will be happy to hop on a call and help out though

[2022-09-19 09:55] kdembler commented on #3231
Just to make sure, do you mean the `Video player background` layer?

[2022-09-19 09:56] toiletgranny commented on #3226
Keeping in mind that the main goal of the tooltip was to simply explain what the icon stands for, I'd vote for replacing the tooltip copy with this: _JOY token is a native crypto asset of Joystream blockchain. It is used for platform governance, purchasing NFTs, trading creator tokens, and covering blockchain processing fees._

If this sounds good to you @kdembler and @dmtrjsg, I believe this issu

[2022-09-19 10:11] toiletgranny commented on #3213
I'd love that, thank you! Will reach out to you on Slack!

[2022-09-19 10:11] #3201 closed, assigned to drillprop

[2022-09-19 10:13] dmtrjsg commented on #3257
Ready for dev: https://docs.google.com/spreadsheets/d/1DS8nyJWLQpXWKrX9q697VHj2snV4rUwTVkWN3PlKEOE/edit#gid=0

[2022-09-19 10:18] toiletgranny commented on #3172
@kdembler Do you reckon it's safe to openly communicate the `one membership/48h/IP address` limit in the copy, or is there a reason we should consider something more like "You've reached membership creation limit. Try again _later_."

[2022-09-19 10:23] kdembler commented on #3203
@toiletgranny

Regarding

To be: No styling property should change upon hovering over the Avatar component, if its editable property is set to false.

Are you 100% sure? Looking at the current documentation for this component, it seems that what you are describing should be the effect of `clickable` property set to false, not `editable`?

[2022-09-19 10:25] toiletgranny commented on #3203
Yes, sorry, I meant the `clickable` property.

[2022-09-19 10:35] toiletgranny commented on #3231
No no, @kdembler, I meant all layers on top of it. Here's a video:

https://user-images.githubusercontent.com/35307309/190999589-12ae55c8-c394-4c28-a67d-dd949a916dd2.mp4

[2022-09-19 10:44] toiletgranny commented on #3130
@kdembler A few noob questions:
1. Actually, why can't I select another video file?
2. What file is considered the same one as the original? Is it the name that must mutch (but the video can be of a different format, or length), or is it something else?

[2022-09-19 10:50] kdembler commented on #3172
I think I would go with the generic message since the specific limits can be updated independently in the faucet and wouldn't want those to get out of sync. FYI, there is also a "global throttle" concept, meaning that it's possible that you actually haven't created the membership at all, but the faucet is throttled at the moment anyway. In reality, I wouldn't expect us to hit this case too often,

[2022-09-19 11:00] kdembler commented on #3130
1. You mean, like in general? I think it was a product decision to not allow changing the video once you initially publish it. My suggestion from the original issue was to change that so if the upload failed, we allow that. Are you suggesting we allow editing the video file in general?
2. It has to be exactly the same file, as in, all the contents are exactly the same. File name doesn't matter, to

[2022-09-19 11:09] kdembler commented on #3226
Sounds good!

[2022-09-19 11:12] #3186 closed, assigned to toiletgranny

[2022-09-19 11:13] dmtrjsg commented on #3130
+ Thumbnail handling error does not have Edit CTA,  if doesn't get uploaded but video does.
+ worth enabling editing video from video detail view

[2022-09-19 11:35] #3080 closed, assigned to nobody

[2022-09-19 14:47] toiletgranny commented on #3004
OK, so I had @kdembler introduce me to this subject earlier today, and — with my understanding — **no additional designs are necessary for this issue** (excluding #3213) on top of what's already designed and implemented (e.g. the Discover page, the Video category page, the dropdown for selecting a Video category in the Video workspace, etc.).

---

There's, however, one more product/design matter

[2022-09-19 15:55] bedeho opened #3269 "Idea: Operator data collection"
# Background

As an operator, there are a range of different events you could be interested in learning about in the client experience

- **Loading times:** in particular how different parts of infrastructure is contributing to this.
- **Tech Errors:** Outright failures that happen, such as playback, signing, faucet, uploads, fiat-integrations, exchange rate, etc.
- **UX Flows:** How are people pr

[2022-09-19 16:01] bedeho commented on #3257
Seems this has been settled, I'm not needed.

[2022-09-19 16:05] bedeho commented on #3004
I get the problem here, but such a mapping seems quite arbitrary to me, and it's hard to really anticipate how bad the UX problem is really going to be, because it's not clear how big the discrepancy between X & Y will in the end be, nor how genuinely confusing the X category space will really be, it will after all be more granular, so you could make the converse point that it will be easier to fi

[2022-09-19 16:35] bedeho commented on #2408
The DAO has a strong interest in maintaining the integrity of these markets, hence we are going to implement global constraints on lower bars for vesting, as well as many other properties of CRTS. See https://github.com/Joystream/joystream/issues/4151. This means we may as well design for a future where the chain will be coercing some lower bound, but what exactly that bound will be may change ove

[2022-09-20 07:13] toiletgranny commented on #3004
Alright, let's do that!

@dmtrjsg, assigning the issue back to you since it requires no additional designs.

[2022-09-20 08:56] dmtrjsg commented on #3179
@polikosi

ℹ️ How to get the precise values:

1. Go to https://polkadot.js.org/apps/#/chainstate (I assume it's already connected to the current playground)
2. Select storage => dataObjectStateBloatBondValue and click the "+" icon: This value should be set in expectedDataObjectStateBloatBond
3. Select content => channelStateBloatBondValue  and click the "+" icon: This value should be set in expect

[2022-09-20 10:15] #3181 closed, assigned to KubaMikolajczyk

[2022-09-20 10:35] dmtrjsg commented on #3183
Agreed to compare YT channel categories with Video Categories for Atlas. NB:  video categories quite likely to inherit categories from Channel tbc.

@zeeshanakram3

[2022-09-20 12:59] toiletgranny commented on #3213
@bedeho @kdembler Alright, this is ready to be reviewed. The high-level idea is to mimic layout of the Video page in its typical shape and form. Instead of the player, there's a message letting you know that the video is unavailable and giving you possible reasons.

![image](https://user-images.githubusercontent.com/35307309/191263999-e7e5e3f7-43fc-42e5-980e-fd773f4e966d.png)

The "Either there is

[2022-09-20 13:26] #3179 closed, assigned to polikosi

[2022-09-20 16:58] KubaMikolajczyk commented on #2688
@dmtrjsg answers 👇
1. I think i might have added that myself and with it being probably out of current scope I removed it in the current iteration
2. As far as I know any holder can transfer their tokens

1st Hi-fi exploration Holders experience is ready ✅
![image](https://user-images.githubusercontent.com/31144205/191319188-5c468a94-af0c-4e77-8a8b-ac47ec68da3a.png)
🎥 Loom: https://www.loom.com/sh

[2022-09-21 06:49] kdembler commented on #3004
@toiletgranny What about category information in Video view details? It can now be multiple display categories

[2022-09-21 07:23] kdembler commented on #3269
Regarding what we are doing currently:
1. We use Sentry to collect logs about unexpected behaviour, so any error thrown in the app is sent there. This will also capture some basic info about the user, like their IDs, browser, etc.
2. We capture metrics relating to asset downloads to see how that experience looks from the user POV. You can see that data here: https://atlas-services.joystream.org/pr

[2022-09-21 07:36] #3204 closed, assigned to drillprop

[2022-09-21 08:32] bedeho commented on #3004
Why would that be the case?

[2022-09-21 08:35] kdembler commented on #3004
If a video belongs to a _Joystream category_ `X1`, that category can be included in multiple _display categories_, right? We probably should only display _display categories_ in the app, so for a given video we may need to show a list of _display categories_ `X1` belongs to

[2022-09-21 08:54] toiletgranny commented on #3004
Right, of course, @kdembler! And since we agreed to make the creator select from _Joystream categories_ during the video upload process, that video might end up being assigned to multiple display categories.

Another thing I realized seeing Klaudiusz's comment and having talked with Kuba about it yesterday is that:
1. Say there's an instance of Atlas that's all about music. Let's call it "Joysound

[2022-09-21 09:09] kdembler commented on #3004
@toiletgranny I think in your example, this is problematic indeed, but I don't think it's a systemic issue, rather with the specific setup you mentioned. In real life, the operator wouldn't create multiple _display categories_ all including a single _Joystream category_, but rather have a separate _Joystream category_ for each music genre. That's where the part with everybody being able to create

[2022-09-21 09:10] #3206 closed, assigned to rafalpawlow

[2022-09-21 09:43] dmtrjsg commented on #3213
@toiletgranny suggest to go with

"This video was deleted by creator, moderated by the content curation team or not included by the application operator."

[2022-09-21 09:47] kdembler commented on #3213
Those can still be viewed with a direct link atm

[2022-09-21 09:53] dmtrjsg commented on #3213
@kdembler is this a setting on the app side? Is there value in it if that was moderated?

[2022-09-21 09:55] kdembler commented on #3213
Not a setting - the video will not show up in any feeds, can only be accessed directly. In terms of value, I think it's helpful if curators can watch the curated video for example. Let's say some curator `A` censored your video but you disagree and you raise a dispute with curator `B`. They should be able to see your video somehow to resolve the dispute.

Do you think there's harm in supporting th

[2022-09-21 10:02] dmtrjsg commented on #3213
Yes if someone spams via out of app media posting this link so people who receive it will land on our end. For that purpose I would suggest to exclude it.

Curators for your scenario could prob extract the video from the chain? Or not possible?

[2022-09-21 10:04] kdembler commented on #3213
I'm not fully following, could you expand a bit? Keep in mind that the app operator can exclude specific videos independently from the curators.

They could, but 99% of them today use Atlas to do their work

[2022-09-21 10:16] dmtrjsg commented on #3213
1. So if someone send out a mass email with obscene stuff and includes a link to Atlas, that video will be seen by the recipients.  And I think its not favourable for GW operators.

2. Is there a way to see it somehow out of Atlas?

[2022-09-21 10:19] kdembler commented on #3213
While technically possible, I don't think any other tool for easy lookup exist at the moment. Maybe instead of hiding the video entirely, we would display some kind of prominent banner/overlay that mentions that this video was marked as censored?

@bedeho I think we could use your input in this discussion (starting here: https://github.com/Joystream/atlas/issues/3213#issuecomment-1253465626)

[2022-09-21 10:29] dmtrjsg commented on #3213
I think disputes are fairly rare, but like the video moderated overlay idea, will work to soften the potential damage of distributing malicious intent materials.

[2022-09-21 10:45] toiletgranny commented on #3213
So what's the final call then, gens? @dmtrjsg Should I cook this banner/overlay up right away while I'm still at it, or do we leave it for a separate ticket? Happy to do so.

For what it's worth, I don't believe adding a banner/overlay to an obscene video is enough; I think it shouldn't be possible for anyone (except for curators) to watch it in Atlas.

[2022-09-21 12:45] #3203 closed, assigned to drillprop

[2022-09-21 13:25] toiletgranny opened #3271 "YPP LP PR review"
1. **As is:**`width` and `height` attributes are not specified on `<img>` elements.
**To be:** They should be, so that layout shifts do not occur when the page is loading (this actually happened to me) and so that the SEO score of the page is higher.
2. **As is:** `<img>` elements do not have `alt` attributes.
**To be:** They should have. Let me know if you need help with those, happy to schedule

[2022-09-21 15:12] bedeho commented on #2688
Thanks for the great summary, got inspired to prioritize sharing these with the community again!

1. I think Total value of portfolio should be more prominent than it is now, it's drowining, and it should be doing the normal thing of being denominated in $JOY if there is no price feed, and $USD+$JOY otherwise. I also think we should not exclude NFTs, despite them being much less liquid, I think it

[2022-09-21 15:53] bedeho commented on #3240
Will do a call with storage+distributor leads post-carthage so we can just talk about some of these things, then schedule some of these to get done before mainnet, great work :)

[2022-09-21 21:09] bedeho opened #3272 "Idea: Separate Jsgenesis instance repo"
**Scope:**

- [ ] Set up gleev repo
- [ ] Set up vercel
- [ ] Set up domain
- [ ] Update the atlas.config.yml to match Gleev

---

We agreed that `Atlas` is at the very least the name of the base application in this repo, and possibly also the actual service operated Jsgenesis based on this application. However, once we launch this new service, which will operate in parallel with other services of

[2022-09-21 21:56] bedeho opened #3273 "Jsgenesis Atlas instance"
# Background

We have done the technical and design work to make the Atlas _codebase_ customizable when deployed as a running instance, as described here: https://github.com/Joystream/atlas/issues/2512

There is however one major outstanding question: _what about the instance that Jsgenesis operates?_

The specific questions are
1. **what should be the instance name and logo mark?**
2. **what shou

[2022-09-22 07:13] dmtrjsg commented on #3273
1. **Targeting:** Focussing on the single vertical is certainly beneficial, blockchain/web3 seems a natural one with growing audience, so fully support that. Name - pretty good and snappy. Has some emotive link to it, great pick.
2. **Multiple gateways and CTA upd** I like the idea of having an intermediate page featuring all gateways, but this would probably mean re-jigging some of the main proje

[2022-09-22 08:16] toiletgranny commented on #3273
1. `Gleev` ❤️

1. Narrowing down our initial target audience will make a lot of things easier for us, super excited for this! I think it might be a good opportunity for us to come up with a specific [user persona](https://www.nngroup.com/articles/persona/) to support future design conversations. I'll do some reading around that in my free time.

2. > **Website:** [...] It may however be more prude

[2022-09-22 09:28] dmtrjsg commented on #3273
@toiletgranny

Thought so initially as well but after deliberation arrived to understanding that we can have a copy/ concept of multiple gateways more prominent and the list of apps can be pretty humble, designed in the way where Atlas can be the only one without much harm/ empty space.

Zeeshan started looking into it, and we'll have a better view on the category trees mapping and take a view on

[2022-09-22 09:39] dmtrjsg opened #3274 "Custodial Accounts Handling on Atlas"
## Context

Feature of saving keys and signing all transactions performed by the user (Custodian wallet mgt)

Example below drawn from Mirror (Medium for Web3 on blockchain).

![CleanShot 2022-09-22 at 09.28.40@2x.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/1999ab5f-df79-428e-b6ee-5cf12e2e801f)

## Scope

- [ ] Clarify the questions below to include this work into 2023+ road

[2022-09-22 10:28] kdembler commented on #3273
1. Name sounds pretty cool, I also get the point of narrowing down the target audience and see benefits of it but I think we also have to be clear about some downsides related to that:
a) I think some of our most active creators using the platform today would fall outside of the Gleev categories. I think about Eclipsing Binary, SatoriD and couple others. It would suck if the app they've been using

[2022-09-22 11:02] dmtrjsg commented on #3130
Here;'s the screen of the error for Thumbnail:

<img width="524" alt="Screenshot 2022-09-22 at 14 02 29" src="https://user-images.githubusercontent.com/93924525/191730340-8fb357a6-69e6-4704-8278-f7816bd68f17.png">

[2022-09-22 11:16] bedeho commented on #3273
I feel like those guys are sort of blockchain adjacent at the very least, they are actively exploring the space and talking about related topics. I am sure they could reasonably feel at home in one of the broader categories, perhaps not with all of their content though. But I do think we have to limit how much strategic emphasis to put on that handful of actors.

The implication of this is that yo

[2022-09-22 12:11] kdembler commented on #3273
Fair enough

`I think we certainly need to be sensitive to where we send people indeed` 👈 basically that. But agreed, I guess we can clear this out along the way.

I don't really think there's any overhead, outside of featuring videos as I mentioned in my other point. Any bugfixing etc would still happen for Gleev anyway

Hmm I wouldn't go that way. It is not clear that the category creator holds

[2022-09-22 12:39] bedeho commented on #3273
There is also the DMCA, YPP, and possibly some infra monitoring effort, but fair enough. I guess my next question is then: we only have so many people to actually do the creator acquisition work, to work with them, capture feedback, handholding and [all the unscalable stuff which is key to success](http://paulgraham.com/ds.html). If we have to choose how to split resources between Glee and Vinteo,

[2022-09-22 13:02] dmtrjsg commented on #2688
Apologies if some of the questions were answered before, but this is vast topic with lots of nuances, so thought its best to clarify once again.

1️⃣ Portfolio
How about we go with Total / Coins / NFTs, as widgets re-using the widget components from Payments dashboard? They seem to be suitable for here and will nicely decorate top of the page when splits are not active.

2️⃣  One weird edge case:

[2022-09-22 14:22] toiletgranny commented on #3092
Alright, @bedeho, @dmtrjsg, @kdembler, my recommendations for the new "Welcome to Studio" screen, as well as a few more tweaks around the flow of setting up a membership and creating a channel, are ready to be reviewed! Find out all about it from:

- [This Loom video update](https://www.loom.com/share/f3e6a37be9cb4f45a35ef55784cceebd) (~8 min at 1.5x speed)
- [This Figma prototype](https://www.fig

[2022-09-22 14:45] dmtrjsg commented on #3092
Excellent work ⭐

All made sense to me including the YPP. Loved it how you looked at the end to end journey with pre and post screen considerations, very well done 🎩

[2022-09-22 14:46] kdembler commented on #3092
Looks sweet! The only feedback I have is about redirecting users directly to channel creation after they create their membership. What I like about the current flow (Click "Connect wallet" -> Create membership -> Back to "Welcome to Atlas Studio" -> Click "Create first channel") is that you deliberately click "Create first channel" so you understand what is happening and where in the flow you curr

[2022-09-22 15:10] dmtrjsg commented on #3092
Actually its a fair point, Klaudiusz, the transition is sharp! ..but in terms of solution perhaps we could explore adding some sort of a prompt to the user for the empty channel view? Thinking from the pov of in general dropping every extra non-mandatory step impacts conversion rate positively.

[2022-09-23 08:45] kdembler commented on #3273
Agreed

I think that's completely fine. If the DAO/Gateway working group want to give it some love, then sure, but I think it should be lowest effort from us - just make it available.

I'm not sure if I'm understanding correctly, but if by that you mean that categories should be shared as much between gateways as possible, then I agree. To make this work well I think we shouldn't introduce this co

[2022-09-23 09:03] bedeho commented on #3273
How then to make sure categories are actually respected? if there is an owner, the owner will take responsibility and curate w.r.t. meaning people expect, at least if the arrangement works, if not, every gateway will have to either manually review everything before syndicating, or risk giving their users a bad experience. Like say if I start publishing white noise videos to all categories, just sp

[2022-09-23 09:24] kdembler commented on #3273
Hmm yeah I see your point but I think we also need to consider gateway operators being uncomfortable with using categories that give external actors privilege to mess with videos published under the gateway. Perhaps some 3rd solution we don't see at the moment. Like you said, maybe best to ignore for now

[2022-09-23 10:58] toiletgranny commented on #3092
Thanks, @dmtrjsg, @kdembler! I see what you mean guys, and I agree that this could be a problem. Maybe not a huge one, but let's see what we could potentially do instead. I recorded a video update to show it to you: https://www.loom.com/share/27cdb0eb49a94f0c8be630f14bdd1e9e

Which option would you like me to finalize? A, B, or C (my recommendation)?

[2022-09-23 11:36] toiletgranny commented on #3004
Oh, I see. Right, that makes sense. Thank you for clarifying that, @kdembler.

Based on our discussion, I updated the video page designs to support displaying more than one video category. **Designs, docs, and changelog [can be found here](https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=5886%3A325024).**

![image](https://user-images.githubusercontent.com/35307309/191951667-7d

[2022-09-23 12:14] kdembler commented on #3092
I'm fine with any of those, maybe @dmtrjsg has some preference, otherwise let's go with your recommendation

[2022-09-23 12:15] kdembler commented on #3004
All right, thanks for taking a look, will keep you updated

[2022-09-23 12:16] dmtrjsg commented on #3092
My recommendation was to just skip the whole coming back to the same page and go straight to default channel edit (screen in the end of this comment) view with some messaging to entice and complete the journey since I was looking at it from the creator journey perspective.

Now I get that not everyone would like to do so and a big portion of audience would want a membership to purchase NFTs / CRTs

[2022-09-23 18:42] traumschule commented on #3241
Searching for `sentry` in this repo brings up many files importing `SentryLogger`. Is the goal of this issue to replace this with a more abstract logger that can be configured via vite or `config.yml` to use sentry or for example an ES instance hosted by jsstats.

[2022-09-25 17:33] dmtrjsg opened #3275 "[USERSNAP] Bought an NFT, and I have to actively close the notification snackbar, it should go away."
**Sender**: None
**Taken at**: https://play.joystream.org/
**Fields**:
- Expected Result: Bought an NFT, and I have to actively close the notification snackbar, it should go away.
- Houston, we have a problem.: Notifications sticking around forever

![SCREENSHOT](https://resources.usersnap.com/company/f9f719df-a929-4461-bb6e-46dbfbceffb7/datapoint_screenshot/0e5ab10a-76f7-4465-b27e-38ac1f945d5b-an

[2022-09-26 06:34] toiletgranny commented on #3092
@dmtrjsg  Not necessarily in this particular context. Let's keep in mind you're having your membership created only because it's required for you to have a channel, which will most likely be the initial and ultimate goal of the majority of users clicking on the "Get started" button (see the screenshot below).

✅ Will proceed with finalizing option A then.

Yeah, I noticed this problem, too. As of

[2022-09-26 07:08] kdembler commented on #3241
@traumschule Yeah, we would rename that to something generic (like `OnlineLogger` or whatever).

I would be happy to offer configuration like this, but someone would actually need to write the specific logger implementations. Let's say with this issue we will add some generic interface for loggers and ability to configure via some file and then community will be free to contribute integrations for

[2022-09-26 08:26] bedeho commented on #3241
Sounds good to me, I think conclusion is more important than doing it early here. As long as Sentry has free accounts we don't need to prior this, we just need have it in mind as one of the tweaks to make Atlas more configurable.

[2022-09-26 08:29] bedeho commented on #3272
So in light of #3273, we would make a new repo `gleev`, and my initial question is then:
- _what would this repo have?_
- should it be public? (hope so!)
- is it correct that new gateway operators may want to for gleev repo rather than atlas, as gleev repo will have all config level assets?

[2022-09-26 11:25] KubaMikolajczyk commented on #2688
Thank you for your replies 🙇

@bedeho :
1. I agree that we can add even more prominence to this indicator. Just to make sure I remember it correctly - we can show value of those tokens only which have AMM enabled am I right? Do you have a way in mind to get the value of the NFTs that you own?
2. 👍
3. I thought about this one - maybe we can introduce some kind of "new split" indicator to mark that

[2022-09-26 11:28] bedeho commented on #2688
NFTs: last sale price, if available, 0 otherwise.
CRTs: if AMM is live, used that, if sale is live, used that, if neither is live, use the last one of the two which may have been live, use that, 0 otherwise.

[2022-09-26 12:32] toiletgranny commented on #3130
Alright, @dmtrjsg, @kdembler, my recommendation for tweaking the flow of reselcting the uploaded file, as well as a few other UX/UI design tweaksd, are ready to be reviewed! Find out all about it from:

- [This Loom video update](https://www.loom.com/share/fbf74c36f1054d52bb2ce6c7d7a5d2a8) (~7.5 min at 1.5x speed)
- [This Figma prototype](https://www.figma.com/proto/Pe1Y0nrl4mpHWs7AkuQOk5/My-uploa

[2022-09-27 09:26] kdembler commented on #3130
Thanks for the update @toiletgranny! I like the new flows, but have few thoughts:
1. I think we should be more explicit about what happens when you try to upload a different file. Current designs just say "You will need to sign a blockchain transaction" and from the user POV this looks like they need to pay to upload the file (also `Upload file` button), when in reality, you actually pay for editi

[2022-09-27 10:57] toiletgranny commented on #3130
Thanks for your input, @kdembler. Thoughtful as always, I really appreciate it! ❤️

1. Right, I see what you mean. At the same time, I don't think we want to flood the user with technical info, potentially making them think the new file selection process is more than it really is, would you agree? I cooked up a few alternatives; let me know if you see a candidate that's both user-friendly and prov

[2022-09-27 11:19] kdembler commented on #3130
1. Option 2 sounds great! Although I would recommend also updating the primary button copy to "Edit video" or "Edit and upload"
2. Yeah, I know it sucks :( For the future we have this idea of "freezing" an NFT which would allow the owner to enable editing it (for example to change the asset, add subtitles, etc), but for now that's not available. While the experiment you mentioned could work, it wo

[2022-09-27 12:36] dmtrjsg opened #3276 "Gleev Logo"
## Context
* https://github.com/Joystream/atlas/issues/3273

## Scope
* [ ] Create logo for Gleev
~Create logo for Vinteo~

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203133549882145) by [Unito](https://www.unito.io)

[2022-09-27 14:53] toiletgranny commented on #3130
@dmtrjsg We discussed the copy details with @kdembler over the slack call, and the final outcome of our discussion is ready to be reviewed and implemented. Just so you know, the handover part took a bit longer than usual this time, as the designs for this screen were not updated for about a year and a half, so I had to recreate and update a lot of stuff in Figma.

**Anyway, designs, docs, and chan

[2022-09-28 08:29] #3148 closed, assigned to drillprop

[2022-09-28 08:48] kdembler commented on #2529
It's done

[2022-09-28 08:48] #2529 closed, assigned to nobody

[2022-09-28 09:21] dmtrjsg commented on #3213
I'm in favour of putting down completely, but overlay could also be ok as will cover us at least from social media backlash or other sort of accusations that we promote bad content.

Pending clarification from @bedeho

[2022-09-28 09:44] dmtrjsg commented on #3273
Perhaps I am a little late to the party, as we seem to have achieved an agreement on Gleev (Crypto vertical) vs Vineto (everything else), but having thought about this more here are my considerations:

1. While the Apps are a storefront for the blockchain capabilities, we are also pursuing the purpose of enabling creator-driven marketing.
2. The product should benefit creators, that can effective

[2022-09-28 14:55] toiletgranny commented on #3092
Alright, @kdembler:
- The updated CTA for the YPP LP for a signed-in viewer with no channel created [can be found here](https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=2544%3A76203).
- Designs, docs, and changelog for the new Welcome studio screen [can be found here](https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in-flows?node-id=1284%3A11692).
   - ⚠️ To

[2022-09-29 08:39] dmtrjsg commented on #3213
Just to clarify the question:

How does peer review of correctness of decision to filter out a video (via "moderated  by content curators") happens in case of dispute is raised?  Is it possible to reach the video and check content via other ways and not in the GW? Klaudiuz made a [fair point ](https://github.com/Joystream/atlas/issues/3213#issuecomment-1253475133) that totally filtering out the vi

[2022-09-29 08:39] toiletgranny opened #3279 "Snackbar component missing shadow & too long on mobile"
When setting up a membership on my phone, I noticed a few issues with the Snackbar component, causing it to be impossible to dismiss and blend with the underlying surface.

1. **As is:** Snackbar component doesn't seem to have a `max-width` property specified,
**To be:** It should have, while its width is ideally calculated based on 100% of the viewport width minus 2x side maring (16px on mobile).

[2022-09-29 09:12] toiletgranny opened #3280 "Incorrect number formatting in the "You received XXX tJOY" snackbar"
**As is:** The number of JOY tokens mentioned in the welcome Snackbar is not formatted accordingly to our styleguide, instead it's just `100000 JOY`
**To be:** It should be `100 000 JOY` [(source)](https://www.notion.so/joystream/Date-time-number-formats-in-Atlas-c5e7c7aec24e4ddfa83104ca4c2e924e).

![CleanShot 2022-09-29 at 11 09 14](https://user-images.githubusercontent.com/35307309/192991043-364

[2022-09-29 09:27] toiletgranny opened #3281 "Prevent viewport from zooming into an input on mobile"
**As is:** Focusing text input or textarea elements causes my viewport to be zoomed into this element on mobile devices.
**To be:** User's viewport scale (?) should not change in this case.

iPhone 12 Pro, iOS 16.0, Safari inside of the Polkawallet app.

https://user-images.githubusercontent.com/35307309/192994381-cc929f6f-5f0f-46b3-a82c-82d677b9ad0f.mp4

[2022-09-29 09:34] toiletgranny opened #3282 "I can't scroll inside of the video workspace on mobile"
**As is:** Having opened the Video workspace on mobile, I can't scroll down inside of it.
**To be:** I should be able to scroll.

iPhone 12 Pro, iOS 16.0, Safari inside of the Polkawallet app.

[2022-09-29 10:08] toiletgranny opened #3283 "I can't select a video file to be uploaded on mobile"
**As is:** Selecting a video file in the Video workspace on mobile does nothing. The File select component does not change its state.
**To be:** I should be able to select a video file.

iPhone 12 Pro, iOS 16.0, Safari inside of the Polkawallet app.

[2022-09-29 10:18] toiletgranny opened #3284 "Having created a channel on my phone, I can't see it on desktop"
**As is:** Having created a channel on my phone, after heading back to Atlas on a desktop I can't find any trace of it in the Member dropdown component, nor when accessing Studio. Even after refreshing the page. Note, that I've been signed into my JS membership on both devices through the entire course of creating a channel on another device.
**To be:** Having created a channel on one device, idea

[2022-09-29 10:47] toiletgranny opened #3285 "Membership dropdown component's contents disappear randomly on mobile"
I believe the title says it all.

https://user-images.githubusercontent.com/35307309/193011951-ce1f8021-cebf-408d-ae08-ca6cd232ae3d.MP4

iPhone 12 Pro, iOS 16.0, Safari inside of the Polkawallet app.

[2022-09-29 10:57] toiletgranny opened #3286 "Incorrect implementation of the Dialog footer component (Fee)"
Dialog footer's component implementation is off compared to the designs [(link)](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=8638%3A170301) when it comes to the fee is displayed with two buttons.

Design | Implementation
---|---
![image](https://user-images.githubusercontent.com/35307309/193013129-aca666b8-ab41-45fc-8e71-3d82fb4f760f.png) | ![CleanShot 2022-09-29 at 12

[2022-09-29 11:06] toiletgranny opened #3287 "Visual bugs in form components on mobile Safari"
Some of our form components are rendered differently on mobile Safari. The goal of this ticket would be to review the implementation of form components on mobile Safari and address the issues with border radii and missing bottom borders.

Design | Implementation
-|-
![image](https://user-images.githubusercontent.com/35307309/193015225-7a2de192-17fe-4a12-bba1-03af7de53ab0.png) | ![CleanShot 2022-09

[2022-09-29 13:19] bedeho commented on #3213
There is currently no dispute system made, that would require a few extra metaprotocol messages, and most importantly, integration into the product experience.

Yes, even if content is not in a gateway (I guess because gateway is choosing not to surface as a matter of local policy?), then content would still be served by distributors, and listed by query nodes. I a suspect though this is not the c

[2022-09-29 13:24] dmtrjsg commented on #3213
✅ 🏁

On the basis of the above comment, let's move forward with the copy for the overlay copy:
""This video was deleted by creator, moderated by the content curation team or not included by the application operator." and the videos moderated by the content curation team will be made not visible in 4326 mentioned above.

[2022-09-29 13:29] dmtrjsg commented on #3257
@toiletgranny we need to slightly modify the drop down selector for languages to allow for horisontal delimiter between popular languages and the rest of the languages since it has a "popular' section.

[2022-09-29 13:52] kdembler commented on #3213
🤝

[2022-09-29 16:11] toiletgranny commented on #2903
Alright, @bedeho, @dmtrjsg, @kdembler, my thoughts, ideas, and recommendations for this are ready to be reviewed! Find out all about it from:

- [This Loom video update](https://www.loom.com/share/e7c366c23fb5469592212062abda643c) (9 min at 1.5x speed)
- [This Figma prototype](https://www.figma.com/proto/zuDTBn9X87fUT8geRkCjIm/Mobile-user-agent-onboarding-flow?page-id=802%3A5523&node-id=1301%3A140

[2022-09-30 10:17] dmtrjsg commented on #2903
@toiletgranny I think we should inform users that better experience is achieved on desktop and offer share link as the first option. But also allow to install this wallet, for cases where bidding on NFTs / CRT revenue staking may be time-critical users may choose to go for it. Since this does not require us to do anything on the integration side, we should offer this option. It has benefits from m

[2022-09-30 13:49] toiletgranny commented on #3123
@kdembler, @dmtrjsg Open graph images for Atlas and YPP landing page can be found here:
- [Atlas (in general)](https://www.figma.com/file/Cc3VDoK6qglJ617ChA2EMr/Foundation?node-id=1513%3A10143),
- [YouTube Partner Program](https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=2568%3A80850).

Please, let me know if you have any thoughts and would like to experiment with

[2022-09-30 14:28] toiletgranny commented on #2903
@dmtrjsg I'm afraid I don't know what you mean by:
- "bar studio experience due to browser mismatch",
- and "If mobile signer is required, here's the first few that support it".

Anyway, unless I'm missing something from your comment, I think that's pretty much what I recommended there. But just to recap and say it back to you:
1. Upon clicking "Connect wallet" on mobile, instead of the regular si

[2022-09-30 14:42] toiletgranny commented on #3213
Designs updated ✅

[2022-09-30 15:26] dmtrjsg commented on #2903
@toiletgranny

Prototypes are perfect, thanks that's exactly what I had in mind better executed 👍

Re video, I'm not sure if it would be handy to import a json via mobile anyways unless you are next to your laptop, so my angle is majority would use a seed phrase to import.. it is not ideal, but I'd just watch them struggle before we add any enhancements. For the time being I think what you have co

[2022-09-30 17:55] KubaMikolajczyk commented on #2407
First Hifi exploration / After first tests is ready ✅ the biggest update so far 🤯 (56 min recommended x1.5 speed). Hidden questions at the end 🫣
🎥 Loom: https://www.loom.com/share/5cc594963b8c49f8b9d345ee01890298
📄 Figma file: https://www.figma.com/file/VzPBMpUnGjGOHMSW2ZHbGY/Creator-tokens?node-id=3056%3A267127

[2022-10-02 12:15] dmtrjsg commented on #2407
Nice work buddy! Excited to see the iteration feedback 🙌

My first impression:

## Default dash:
1. Start token sale is in the top right area, I would opt in for the version which has a dedicated widget on the dashboard, with empty values and a big CTA > create your token so user sees that one first:
<img width="161" alt="Screenshot 2022-10-02 at 13 52 16" src="https://user-images.githubuserconten

[2022-10-02 20:49] bedeho commented on #3273
# Points of Agreement

I agree with your basic observation here, to summarize: _the user acquisition activities can have a content focus while the product itself does not._ Here are some additional points in favor

- If one reviews the `Rationale` section above, it is indeed clear that many of these hold to some extent, or even same extent in many cases, if we focus on web3 in terms of user acquis

[2022-10-02 21:31] bedeho commented on #2407
From what I recall, and I think this may still be tweaked, closing an AMM requires emptying it first, so it means the creator has to sell enough $CRT into it to deplete it of any $JOY locked up, but even doing so does not mean other people are not holding $CRT, in which case _yes_ would be the answer to your question.

[2022-10-03 06:25] dmtrjsg commented on #3273
Thank you @bedeho for providing a detailed feedback. The `crowding out` point is actually something I have not fully considered at the time of writing, and taken from this perspective, it makes sense to only focus on a single vertical, without the ambition to accommodate for residual categories in a less-curated Vinteo.

I see your point on the Web3 "obstacles" for generic audience, being overweig

[2022-10-03 07:31] bedeho commented on #2178
Covered by https://github.com/Joystream/atlas/issues/2968.

[2022-10-03 07:31] #2178 closed, assigned to nobody

[2022-10-03 08:00] bedeho opened #3290 "Creator analytics dashboard"
WIP: Creators need a way to understand how their content is doing, but there are lots of interesting questions here about what data to surface, from what apps, but some important data layer questions have to be resolved first, and also Orion v2 is likely needed.

[2022-10-03 09:02] kdembler commented on #2903
I think we should still offer wallet select, as the user may still somehow have multiple extensions. We also handle wallet connect and loading in this step.

I would put little less emphasis on "Share to myself" in this "Best viewed on desktop dialog". I think with the current designs it's actually a bit too hard to proceed. I would give users a warning that this experience will not be ideal but l

[2022-10-03 09:04] kdembler commented on #3123
Nice!

[2022-10-03 09:57] #3226 closed, assigned to drillprop

[2022-10-03 11:29] bedeho opened #3292 "Customizable channel landing page"
WIP.

[2022-10-03 11:39] #3155 closed, assigned to rafalpawlow

[2022-10-03 12:15] #3182 closed, assigned to bedeho

[2022-10-03 12:20] bedeho commented on #2407
# Feedback

Phenomenal work, really great that you are doing this user testing - as this stuff is super complicated. I would encourage you to make your update smaller next time, say <20mins, hopefully it should be possible to work on smaller parts and get feedback earlier, as this also reduces time between reviews, so there is less lost context for us reviewers.

1. I don't understand why the firs

[2022-10-03 12:24] toiletgranny commented on #2903
@dmtrjsg Ok, awesome! Re video: sure, got it!

@kdembler While making it harder for you to proceed on mobile was kind of the point, I get it I might have gone a bit too far with this direction. 😅 Hopefully, tweaking the copy and swapping buttons order should do the job. Since the copy got a bit lengthy, I came up with this new custom illustration to make the dialog a bit easier to scan visually an

[2022-10-03 12:32] dmtrjsg commented on #3286
@toiletgranny hey we've all looked at it and kind agreed that it looks better above the buttons 😅 😇 .. Hope you don't mind if we keep it as is .. :)

[2022-10-03 12:32] #3286 closed, assigned to nobody

[2022-10-03 13:27] kdembler commented on #2903
Looks nice!

[2022-10-03 16:06] KubaMikolajczyk commented on #2407
Thank you for all your great feedback guys 🙇

@dmtrjsg I totally agree with copy changes, changing action in the snack bar to share, and the rest of your insights - I will implement them before the tests 👍

However, I'm unsure about what are the issues this separated token widget might address.? - current placement of CTA buttons was confirmed multiple times as effective in tests & token verificat

[2022-10-03 16:19] bedeho commented on #2407
Ok, great!

I think we need to start by actually defining a human process: how should verification actually work in a way that serves the intended goal of verification as a concept, while thinking about real-world constraints around preventing abuse, manpower, etc. Then the product design becomes the second-order exercise. Do you want me to proposer this process, or can you do it yourself? Either

[2022-10-03 21:11] mochet opened #3294 "example: Implementation of auto thumbnail generation"
I am not sure how its implemented as its not open source, but seems to allow user to select a thumbnail before uploading a video here: https://streamanity.com/upload

[2022-10-04 08:55] bedeho opened #3295 "Hover previews"
WIP: will require low latency playback to work well, and possibly also having a low-fi transcoded version to allow faster load time.

[2022-10-04 08:58] bedeho opened #3296 "Video player view density histogram on progress indicator"
WIP: requires orionv2

[2022-10-04 09:06] toiletgranny commented on #2903
Ok, cool! It's all ready to be reviewed and implemented then. Here's what's changed:

- Designs, docs, and changelog for the Sign in dialog component [can be found here](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=6322%3A126310)
- Designs, docs, and changelog for the updated mobile Sign in flow [can be found here](https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-

[2022-10-04 09:25] dmtrjsg opened #3297 "Atlas infrastructure monitoring"
## Context

Approaching mainnet launch the question of service availability becomes more pertinent. It is critical for JSG to ensure during the early stages of the launch, that all services that are involved in supporting user interfacing apps are sufficiently covered with availability monitoring. As part of the solution, the operational aspect of this needs to be also covered. Namely, notificatio

[2022-10-04 09:49] rafalpawlow opened #3298 "All possible gradients as design tokens"
### Description

Currently, in several places we have gradients entered manually. I think it would be useful to review them and define them as design tokens.

![Zrzut ekranu 2022-10-4 o 11 47 19](https://user-images.githubusercontent.com/13706246/193789026-1f37a380-2a8f-4250-9a63-2118d1b7f0cb.png)

### Figma link

_No response_

### How urgent this is?

Not a blocker, but still worth considering

[2022-10-04 10:14] kdembler opened #3299 "Make YPP experience optional"
Allow the operator to disable YPP, making all the YPP functionalities and views in Atlas inaccessible.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203133834079472) by [Unito](https://www.unito.io)

[2022-10-04 10:50] toiletgranny commented on #3257
@dmtrjsg Done!

1. I added a new component, a List divider, designs and documentation for which [can be found here](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9696%3A171951),
2. I updated the designs and user stories for adding subtitles, which [can be found here](https://www.figma.com/file/xm6vBdSnQDroc57rGfGtPM/Video-workspace?node-id=1945%3A109809).

![image](https

[2022-10-04 12:59] toiletgranny commented on #3222
@kdembler Assuming validation happens so fast, it doesn't make sense to flash loaders for a split of a second, my understanding is that the only design treatment this issue needs is some form of letting the user know about their funds being insufficient to cover transaction fees.

If this is correct, please let me know if this toast message makes sense.

![image](https://user-images.githubusercont

[2022-10-04 13:42] toiletgranny commented on #3222
Note to self:
- The goal was to entertain the user for the time the fee is calculated in the background,
- One solution we discussed briefly with @kdembler is to change the button to something that indicates loading.

[2022-10-04 14:02] mochet commented on #3273
I think a podcast/audio app is essential, but I imagine its probably not doable right now, but should be a priority after launch IMHO

This is not entirely true, they had a competition system for quite a while for users to actually get access as an author so they did very much influence the quality of their initial userbase.

I think this highlights one critical requirement for most gateways to fu

[2022-10-04 14:18] kdembler commented on #3294
That's a great idea, we have it captured here already: https://github.com/Joystream/atlas/issues/1515 . Will close this one

[2022-10-04 14:18] #3294 closed, assigned to nobody

[2022-10-04 14:18] bedeho commented on #3273
I think your reply here @mochet , while interesting, is not really on topic, and your observations will just get lost when this issue of Atlas instances is shipped. I think you should find a better place for these ideas.

[2022-10-04 18:03] kdembler opened #3302 "Make captcha during member sign up optional"
Currently Captcha is always a part of the member creation. However, some faucets may not require captcha and some Atlas operator may not want to use it. We should make the Captcha optional. We can make it visible based on whether captcha key env variable is set

[2022-10-05 06:46] dmtrjsg opened #3304 "Checkly Instrumentation"
## Context

- Joystream/atlas#3297

@dmtrjsg to create admin account and add Klaudiusz and Theo as admins.

## Scope

Set up Checkly monitoring for

- [x] Atlas
- [x] Orion
- [x] QN
- [x] Faucet
- [x] Atlas-services

Out of scope:
- [x] Joystream/pioneer#3656

[2022-10-05 06:53] dmtrjsg opened #3306 "Atlas Performance Checks Review"
## Context

Checkly onboarding runs misc performance checks for Atlas codebase. Most of the ones below were identified to fall into the yellow and red zone.

## Scope

Review and advise on feasibility and scope of improving the following metrics:

[Time to First Byte](https://www.checklyhq.com/docs/browser-checks/tracing-web-vitals/#time-to-first-byte)

<img width="423" alt="Screenshot 2022-10-05

[2022-10-05 07:02] dmtrjsg opened #3307 "Orion Performance Checks Review"
## Context

Checkly onboarding runs misc performance checks for Orion service. Some of which below were identified to fall into the yellow and red zone.

## Scope

Review and advise on feasibility and scope of improving the following metrics:

[Total Blocking Time](https://www.checklyhq.com/docs/browser-checks/tracing-web-vitals/#total-blocking-time)

<img width="453" alt="Screenshot 2022-10-05 at

[2022-10-05 09:28] toiletgranny commented on #3222
@kdembler Here's the solution, just like we discussed it. It requires changing two components:
- [The Dialog component](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9274%3A172494),
- [The Action bar component](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-id=9724%3A174396).

[2022-10-05 09:58] #2512 closed, assigned to kdembler, toiletgranny, dmtrjsg

[2022-10-05 10:28] #3213 closed, assigned to rafalpawlow

[2022-10-05 10:28] #3239 closed, assigned to rafalpawlow

[2022-10-05 10:28] #2408 closed, assigned to KubaMikolajczyk

[2022-10-05 10:49] dmtrjsg commented on #2407
@bedeho

The empty state and widgetising each step stems from the originally combined flow asking the user to specify everything at once. My original view was to have a visual layout similar to Payments Dashboard, with a clear starting points for the journey.

You argument on the potentially overwhelming view of empty states is valid, and I now thinking of it again it does not look like a bad idea

[2022-10-05 10:50] toiletgranny opened #3308 "Video player component background"
**As is:** Background of the video player is unset.
**To be:** Unless the video is played in full-screen mode (!), the background color of the video player component should be set to `var(--color-background-muted)`. This way, if the video is played in cinema mode, it is easier to tell the boundaries of the video and see the page's layout.

[2022-10-05 11:50] toiletgranny opened #3309 "Optimise font rendering in Atlas"
Add the below CSS code to the `body` element in Atlas:

[code]

[2022-10-05 13:32] toiletgranny commented on #3256
@kdembler Having talked to you about this and having read a few articles on the subject, my recommendation is as follows:

1. In the Transfer dialog, in the Destination account text field, let's bring back the "Polkadot wallet address" placeholder, as it's more technically accurate.
   - The current "Joystream wallet address" placeholder implies that only Polkadot wallet addresses in the Joystream

[2022-10-05 14:35] toiletgranny commented on #3172
@kdembler Oh man, now that you shed some light on all the things that could go wrong when you create a membership, it really makes you appreciate when it actually succeeds. So much, in fact, that perhaps we should consider changing the success snackbar copy to something more like, "This must be your lucky day! That's right, your membership has been created! Against all the odds! It's a miracle!"

[2022-10-05 15:59] dmtrjsg commented on #2407
I'll tee this up in terms of risks, process and considerations, added to backlog of tasks.

[2022-10-05 16:43] KubaMikolajczyk opened #3312 "Creator Tokens — Owner & Issuer: Testing (round 2)"
This issue is encapsulating all discussions regarding round 2 of tests for Owner & Issuer CRT experience.
The tests will contain all previous flows such as:
- Issuing CRT
- Editing token page
- Selling CRT
And will check if all findings from the previous round of tests were addressed in the designs.

🎥 Loom test walkthrough: https://www.loom.com/share/4fb4309850304ed1a9bf831315f32825
📄 Test figma

[2022-10-05 17:04] dmtrjsg commented on #3312
Looks solid :muscle: Ready to be tested.

Small comments:
Yes loving the idea of highlighting the chart components on hover.
Can the image is a good idea, but the design of the token could be improved if we are going this direction, at least show the token short name, three chars?
Share link should be somewhere on the token public page but also available from dashboard, perhaps from the sale widge

[2022-10-05 17:26] bedeho commented on #3312
Fantastic work, really liked how you connected the fields and the vesting schedule hovering ;)

[2022-10-06 13:55] toiletgranny opened #3314 "Figma backup"
This task aims to set up an automated backup of all Figma files stored in [the Atlas team](https://www.figma.com/files/team/988759271589293564/Atlas?fuid=730334878476004289), as requested by @bedeho.

Ideally:
1. The end solution is 100% autonomous,
2. Backup is done every 24 hours, at night, somewhere between midnight and 3 am,
3. All files stored in the Atlas team are backed up,
4. Backups are s

[2022-10-06 14:10] dmtrjsg commented on #3314
@toiletgranny  I understand thats a set up inside Figma itself? ..could you do the same for Pioneer pls?

[2022-10-06 14:12] dmtrjsg opened #3316 "[FEATURE REQUEST] Video-hero"
**Sender**: None
**Taken at**: https://board.usersnap.com/tZNWrBYXJAAHUiTo#/
**Fields**:
- Какая черта вам не хватает?: Video-hero
- Какая проблема будет что решить для вас?: Greetings! I suggest lowering the dimming parameters of the main video a bit, perhaps so this part will look &#34;juicier&#34; and &#34;cleaner&#34;.
We discussed this earlier in discord and came to the conclusion that we cou

[2022-10-06 14:50] dmtrjsg commented on #3256
Agree with the design implementation.

⚠️  Just to add that both formats should be accepted in the destination account. Lets update the validation on prefix, but remove the char length from the validation.

[2022-10-06 15:00] rafalpawlow commented on #3314
@dmtrjsg Actually not, It will be a service that will download backups via figma API. Klaudiusz asked me to take care of this. It will be configurable so there will be no problem using it for Pioneer.

[2022-10-06 15:01] toiletgranny commented on #3314
Just like @rafalpawlow said. My goal was to create a separate ticket for Pioneer once we first try it out in Atlas.

[2022-10-06 15:23] dmtrjsg opened #3318 "Adaptive Streaming"
## Context

Adaptive streaming means automatically selecting the best video resolution, and switching to the optimium one, up or down a notch, depending on network connectivity and user agent.

## Scope
- [ ] Define the matrix for network connectivity and user
- [ ] Gleev Notification on switching the video resolution
- [ ] QN, same as multiple resolutions?
- [ ] Other infra impacted

Implementati

[2022-10-06 15:27] dmtrjsg commented on #3183
Based on this issue:
- https://github.com/Joystream/youtube-synch/issues/42

Decision was to:
`YT sync scraps the YT category, and lets creator select a single category. Inform users that this will be propagated to all videos, but can be changed manually. What they select is default display category for the video category.`

Based on this, closing the issue as there will not be any mapping from YT

[2022-10-06 15:27] #3183 closed, assigned to zeeshanakram3

[2022-10-06 15:35] dmtrjsg commented on #3314
ahh thanks for the clarification @rafalpawlow, wasn't aware of this, sounds good 👍

thanks @toiletgranny 🙏

[2022-10-06 15:43] dmtrjsg opened #3319 "Mention Content Focus for Atlas GW onboarding flow"
## Context
Multiple gateways set up covered here will not rule out content-vertical focus, as a way to build up a congruent value proposition by external operators.

* https://github.com/Joystream/marketing/issues/289

Gleev, operated by JSG as the prime example of this case is planned to focus on Web3/ Crypto vertical only.

For the benefit of end users of Gleev the idea is to inform them on all

[2022-10-06 15:46] dmtrjsg opened #3320 "Gleev Logo and Assets upd"
**Scope:**

- [ ] Update the logos
- [ ] Update the favicons
- [ ] Also, let's make sure to change the name of the "Popular on Joystream" section on the homepage to "Popular on Gleev".
- [ ] Update the maintenance view (@dmtrjsg to provide updated copy)

---

dmtrjsg commented on [Tue Sep 27 2022](https://github.com/Joystream/marketing/issues/293)

## Context
In-line with the concept of multiple g

[2022-10-06 15:47] dmtrjsg opened #3321 "Multiple Gateways for project homepage"
@dmtrjsg commented on [Fri Sep 23 2022](https://github.com/Joystream/marketing/issues/289)

## Context
Multi-gateway set up for the OB journey, covered here:

* https://github.com/Joystream/atlas/issues/3273

Implications on website covered in this issue

Website: Right now, the website has a few key CTAs saying Claim your channel, talking directly to creators, primarily because the whole site spe

[2022-10-06 15:47] dmtrjsg opened #3322 "Gleev adaptation for YPP"
@dmtrjsg commented on [Tue Sep 27 2022](https://github.com/Joystream/marketing/issues/292)

## Dev Scope
![](https://user-images.githubusercontent.com/93924525/207915196-328a5aaa-7e85-45ae-aac0-03b58dc0f98e.png)

[Link to Figma> ](https://www.figma.com/file/oQqFqdAiPu16eeE2aA5AD5/YouTube-Partner-Program?node-id=1601%3A122582&amp;t=FMDH2UFYWNsPdW5o-1)

## Context
[Context of multiple gateways ](htt

[2022-10-06 15:50] dmtrjsg commented on #3304
Done: https://joystream.checklyhq.com/

[2022-10-06 15:50] #3304 closed, assigned to kdembler

[2022-10-06 15:57] dmtrjsg opened #3323 "Configurable YPP for External App Operators"
## Context

This is an Epic task, please see related issues embedded and referenced in the scope section of this issue.

For external GW operations YPP module is as strong of a tool for creators aqcuisition as for Gleev, powered by JSG. This issue encapsulates the effort to make this module customisable to a reasonable degree so it can be used by external operators with minimum customisation effor

[2022-10-06 16:12] dmtrjsg commented on #3257
Love it 😍

[2022-10-06 17:38] bedeho opened #3324 "User specified video cards"
WIP: stuff like this, we  can also include stuff that hooks into NFTs, CRTs, etc.
![Screenshot 2022-10-06 at 19 37 51](https://user-images.githubusercontent.com/437292/194381395-73541b51-0160-4910-86df-0e207599853e.png)

[2022-10-07 11:07] #3207 closed, assigned to drillprop

[2022-10-07 13:50] #3231 closed, assigned to drillprop

[2022-10-07 19:30] toiletgranny commented on #3276
@bedeho, @dmtrjsg Gleev logo ideas are ready to be reviewed! :) Find out all about it from:

- [This Loom video update](https://www.loom.com/share/f01d05b32f4649f5a4016a73ef19cbf3) (10 min),
- [This Figma presentation](https://www.figma.com/proto/RBKQyC2bs8VWqm0mkY4kJv/Gleev-brand?page-id=2%3A22566&node-id=8%3A18296&viewport=-6752%2C-16%2C0.24&scaling=min-zoom&starting-point-node-id=8%3A18296).

c

[2022-10-07 19:41] toiletgranny commented on #3123
@dmtrjsg I'm moving this back to on hold, as we need to finalize the Gleev logo and LP before handing this over to developers.

[2022-10-07 20:18] bedeho commented on #3276
1. Thank you for the wonderful presentation, just love these, they are works of art in of themselves <3
2. I love the analysis, I was thinking of this myself: the _atlas_ brand somehow was more core or closer to Joystream itself, Gleev is much more distant, and the last version you found really was able to show an example of something still in harmony with the rest of the product style, however qu

[2022-10-08 03:32] dmtrjsg commented on #3276
Number 3 omg this is mindblowing :exploding_head:  and I  LOOOOVE it :heart_eyes:
!!

[2022-10-08 08:44] bedeho opened #3326 "Update README"
The current README was built when Atlas was thought of as a sort of canonical example app, and it does a great job at that. Its main audience is people who aspire to contribute to this codebase itself. Moving forward, Atlas going to be more explicitly a white-label software product, which is customizable, and where developers arriving at the repo will be looking to understand the power of this cus

[2022-10-08 10:53] drillprop commented on #3276
My girlfriend said that the silhouette version looks like a chess jumper and I can't get rid of this comparison from my mind 😅 The image of a chess jumper just stuck in my brain now.
![image](https://user-images.githubusercontent.com/51168865/194703652-e7abb92b-aaeb-48b6-bdf7-df7aa3e36998.png)

[2022-10-08 11:49] drillprop commented on #3276
Don't get me wrong, I like the third one the most as well. Small suggestion -  how it would be like if we cut the part at the top(just a bit)? Up here 👇🏻
![Zrzut ekranu 2022-10-8 o 13 44 31](https://user-images.githubusercontent.com/51168865/194705799-c80bf458-1a5e-408a-ae51-f261cbab80fd.png)

[2022-10-08 11:58] bedeho opened #3327 "Introduce semantic versioning and releases"
As we `Atlas` is now becoming more of a framework than a specific product instance, introducing proper semantic versioning and releases will be needed for third party users to manage their use of the product properly and safely.

Scope:
- Versions
- Releases
- Changelog

[2022-10-08 12:02] bedeho commented on #3276
🤣 Took me a while to even perceive this, doesn't stick with me.

[2022-10-08 12:36] bedeho opened #3328 "Profile load times"
# Background

There are quite a lot of screens on Atlas which take time to load, even apart from the latency of video playback. Having a lower loading time is something that would be very valuable for the user experience to be better for consumers, and the first step in that direction is to try to account for what factors contribute to the overall latency. Based on this information one would be in

[2022-10-08 12:36] #3100 closed, assigned to kdembler

[2022-10-08 20:09] bedeho opened #3329 "Support for runtime level content terms"
# Background

https://github.com/Joystream/joystream/issues/4305

# Proposal

Currently, as confirmed by @drillprop, only membership creation triggers opting into _application terms_, so a separate step is probably warranted at the channel creation step. Its not clear if applications also need a specific set of terms here, or if just presenting runtime level terms is sufficient.

[2022-10-10 07:13] toiletgranny commented on #3276
Ah, yes, been wondering how fast someone will discover it! The knight in the negative space is a byproduct of positioning the “G” letter at a certain angle. I started noticing this very early on, and while I tried to fight it initially (below you can see just a few samples), after a while, I realized I actually liked it, as it makes the icon more unique and interesting. So I left it there and took

[2022-10-10 07:19] toiletgranny commented on #3276
Alright, glad you guys liked it! Moving it back to the In Design column to have the new logo finalised and to move forward with updating all the assets!

[2022-10-10 08:44] #3240 closed, assigned to kdembler

[2022-10-10 11:37] dmtrjsg commented on #3276
On the call just now confirmed to finalise it in the shape and form that was in the original presentation.

[2022-10-11 06:15] kdembler commented on #3327
How do you think semantic releases help operators? It's not like Atlas will be an NPM package that you add to your dependencies and increase its version once in a while. For now, all operators will need to have a fork of Atlas where they apply their own changes and periodically pull from upstream. In that case, what do release help with in your opinion?

[2022-10-11 08:32] #3004 closed, assigned to rafalpawlow

[2022-10-11 08:45] kdembler opened #3332 "Add env vars interpolation to atlas.config.yml"
So that users can use single config file but reference values passed via env variables. For example:
[code]

Then, let's also move hcaptcha config to atlas.config.yml

[2022-10-11 10:58] bedeho commented on #3327
So there are two distinct issues at play here

- **Releases:** by this I means giving identifiable names to distinct versions of the software that are production ready. This has the main benefit that it helps all stakeholders clearly distinguish different versions of the product for communication and coordination purposes. For example being able to refer to something as BitcoinCore 0.19 has a lot

[2022-10-11 13:17] toiletgranny commented on #3276
@dmtrjsg @bedeho Alright, all Gleev logos are ready to be used.

1. All Gleev & Gleev Studio logos, along with my earlier explorations and other variations which might be helpful for future designers in case a further work on the icon is required, can be found [in this Figma file](https://www.figma.com/file/RBKQyC2bs8VWqm0mkY4kJv/Gleev-brand?node-id=85%3A21186),
2. All Gleev & Gleev Studio logos a

[2022-10-11 14:01] dmtrjsg opened #3334 "Gleev Adaptation for Mainnet"
## Context

This is a tracker issue to encapsulate all work carried out wrt Gleev rebranding, spanning Marketing website, YPP and Atlas onboarding experience

## Scope
- #3276
- #3320
- #3319
- #3321

Out of scope:
- #3322

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203142926083287) by [Unito](https://www.unito.io)

[2022-10-12 09:13] toiletgranny commented on #3320
@kdembler, let's do this!

1. The new logo can be found and exported from the [Foundation figma file](https://www.figma.com/file/Cc3VDoK6qglJ617ChA2EMr/Foundation?node-id=716%3A70391).
2. Pages and components to be updated, based on the scope outlined in changelogs (to which I'm pasting links below) are:
   - [Side navigation](https://www.figma.com/file/Pf31tuYpozYmpq163U2ho8/Web-components?node-i

[2022-10-12 13:35] bedeho commented on #1971
Done.

[2022-10-12 13:35] #1971 closed, assigned to dmtrjsg

[2022-10-12 13:41] #1875 closed, assigned to dmtrjsg

[2022-10-12 13:42] dmtrjsg commented on #3257
@drillprop will this also apply to selecting the language of subtitles?

[2022-10-12 13:46] drillprop commented on #3257
Yeah, we can add this. I mean - I don't see any obstacles to adding this as well in the subtitles select element.

[2022-10-12 13:47] dmtrjsg commented on #3257
Great, will add this to the acceptance criteria 👌

[2022-10-12 14:09] drillprop opened #3337 "Remove visibility property in Button component"
Currently, for some unknown reason, we're setting `visibility:hidden` on the element called BorderWrapper and we change that to `visible` depending on context. This property is causing accessibility issues and makes our buttons not accessible, even if they have text inside.

- [ ] Remove `visibility: hidden` property
- [ ] Make sure, that all the variants look the same. Above all check the `text`

[2022-10-12 15:06] bedeho commented on #3170
This is idea is referenced here also: https://github.com/Joystream/atlas/issues/3098

[2022-10-12 15:35] toiletgranny commented on #3319
Alright, @bedeho, @dmtrjsg, @kdembler, my recommendations for addressing this issue are ready to be reviewed! Find out all about it from:

- [This Loom video update](https://www.loom.com/share/f9d46073873d4adfb67497aa3d38f681) (~16 min at 1.5x speed)
- [This Figma prototype for the Studio](https://www.figma.com/proto/wNKppgSQ1ju28IUiu3IzDj/Mention-Content-Focus-for-Atlas-GW-onboarding-flow?page-id

[2022-10-12 15:59] KubaMikolajczyk commented on #3312
# Reply to small comments @dmtrjsg above 👆

Can you elaborate more on that - I don't know if I understand it right

I agree it has to be included, in sale page, widget or in both places.

We tried to iterate with the design of completed steps and the effect of completed step being not too important anymore was critical to not distract users from the goal which is completing the next step.

That wa

[2022-10-12 16:19] bedeho opened #3338 "Idea: Apps will be community operated"
Note: this is just a very high-level idea, more of a perspective really, not something very concrete, and not something which has near-term execution implications, just noting it down.

I want to suggest that perhaps a very potent use case for Apps (formerly gateways) will be for communities. By this, I mean that there is greater space for and value in consumers interacting with each other and con

[2022-10-12 16:32] mochet commented on #3338
This would be awesome. I think gateway/app tokens would be highly useful for this kind of stuff.
Also relevant: https://github.com/Joystream/atlas/issues/2295

[2022-10-13 06:22] dmtrjsg commented on #3319
@toiletgranny nice work, we've got all of the ingredients to finalise it, well done!

Comments:

## Creators

ahah before I watched further typed the below 😅  and seen exactly that later down the line. So yes we need

@bedeho is there a possibility / does it make sense to say that we can blacklist memberships with repeated violation?

## Viewers
Welcome to Gleev - good idea.
Cookies - let's pls ke

[2022-10-13 06:23] dmtrjsg opened #3339 "Update categories icons in line with Gleev content vertical"
Categories:
Investing
Podcasts
Conferences
Reviews
Tutorials
News
Memes
Interviews
Analysis
Predictions
Trading

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1203155930539987) by [Unito](https://www.unito.io)

[2022-10-13 06:23] dmtrjsg commented on #3319
Draft issue is created:
- https://github.com/Joystream/atlas/issues/3339

[2022-10-13 10:50] bedeho commented on #3312
Great work doing this research, and the breakdown was really clear.

That is interesting. So I think having a steady income is a supe attractive proposition for most creators, and this gives them that. So I think we need to make sure that people are only ever setting this to 0% if they really know what they are doing and have a clear reason.

I think the copy there is not good, I mean its litreall

[2022-10-13 11:41] bedeho commented on #3319
Currently no, but its not clear that it would really work anyway, if someone is motivated to just publish regardless of the mismatch, they can change their info and just reupload videos again.

[2022-10-13 11:48] bedeho commented on #3319
Nice job!

- **Just to set the stage:** my assumption is that the way a creator lands on the studio sign-in page is via some action ni gleev, e.g. YPP landing page, not Joystream.org. I expect almost no creators to start there.
- I agree the initial `content focus` box is not a good solution, looks too much like an error or something having gone bad.
- Tweaking the copy seems like a super potent a

[2022-10-13 12:20] KubaMikolajczyk commented on #3312
Thank you for great feedback @bedeho 🙇

My idea for solving this is to create a separate step for tokens claimed by the creator & patronage where we will be able to give more careful explanation about it and some calculations maybe - I will be posting a short video update with that soon.

Frankly, it was one of the few fields that was clear as day to the participants. But I understand the premise

[2022-10-13 12:44] KubaMikolajczyk commented on #3312
@bedeho there is one more thing that was not highlighted in the report but probably needs a highlight on its own

### Video tutorials / walkthrough
All participants very clearly suggested that the first thing they would do is to click the button "learn more" at the first intro screen - and they would expect a broader video telling them about CRTs and a walkthrough through the process of creating C

[2022-10-13 12:44] dmtrjsg commented on #3319
@bedeho not against this

but would this not be going for less flexibility from the customisation POV?

My reasoning: interstitial may be optional, while cookies is common for all.

[2022-10-13 13:54] toiletgranny commented on #3339
and propose new KV images and color values, just like we have them now for the existing set of categories: https://www.figma.com/file/UdBMxrLspjcf6IVYYJS8YP/Discover-page?node-id=1%3A121

[2022-10-13 14:24] toiletgranny commented on #3319
Either we mean the same things but use different names, or your assumption is wrong. The Studio landing page [(Figma link)](https://www.figma.com/file/ymHYOFItrmFaLeBC5Z4tpQ/Sign-in-flows?node-id=508%3A58893) is where you're redirected upon clicking on the "Claim your channel" button on Joystream.org, or "Sign up now" button on YPP LP.

Noted.

I'm not entirely sure, but it feels like you, @bedeho

[2022-10-13 14:57] dmtrjsg commented on #3312
**Starting screen**

We discussed to have a progress steps/ widgets on landing, together with a simple CTA in the bottom. Curious to hear if that was a go from your and Adam's end after a quick sketch. Imho will be better than "J" visuals.

**Video helper**
I think we should assume / rely on the video guides when building interfaces. We 100% need to add tooltips to every parameter and I'll try to

[2022-10-13 15:00] rafalpawlow commented on #3319
Indeed, this should not be a big problem from a technical point of view. On the other hand, I am worried about three things. First, if for some reason a few thumbnails are not available, it will completely ruin the visual effect. Second, you have to reckon that you may need some loading state until the query and asset are resolved. And thirdly, you lose control over the visual aspect of the dialog

[2022-10-13 18:31] bedeho commented on #3312
I'm happy to have us do this, worst case we have to do something pretty low effort, then polish later.

It's not even so important what _it is_ per se, we just need to pick the right language to convey the important understanding for our target audience, and I am not sure AMM is that. Uniswap is not for creators, so even if they explain
parts of their product as AMM (not even sure they actually do

[2022-10-13 18:35] bedeho commented on #3319
I don't think I am understanding what you are suggesting here, but I don't think there is any room for confusion about what Gleev is for from this page, let alone from the prior funnel and referral process which will be the lead generator for the person to land here to begin with. People will not just show up willing to participate spontaneously without context.

I'm not sure what flexibility of v

[2022-10-14 06:52] #3224 closed, assigned to drillprop

[2022-10-14 07:24] #3271 closed, assigned to rafalpawlow

[2022-10-14 09:22] drillprop commented on #3319
I don't have anything to add here, fully agree. It's definitely doable, but the loading state will be an issue, and I'm not sure if showing skeleton loaders in this particular case will be a good experience.

[2022-10-14 12:28] KubaMikolajczyk commented on #3312
Hey @bedeho @dmtrjsg as we are heading to bring this CRT Creator experience to hi-fi stage and start finalizing it I have a quick 14min/1.5x video update with the direction that I propose after the test (keep in mind not much of copy changes yet but lets focus on the flow & experience:
🎥 Loom: https://loom.com/share/4243f1ed1f5641358228b86f7a8ee107
📄 Figma files: https://www.figma.com/file/VzPBMpU

[2022-10-14 16:05] Songoku1691 opened #3340 "Use absolute upload timestamp in VideoView"
**Is your feature request related to a problem? Please describe.**

Yes I think. Please correct me if I just don't see it. When I watch old videos in Atlas, I couldn't determine the exact date when the video was uploaded. It only shows how old are the videos like 4 months, 5 months, 6 months...

**Describe the solution you'd like**

I suggest to show upload date of Atlas Videos in their descriptio

[2022-10-14 18:30] bedeho commented on #3312
I did have a great time watching, as always, thank you <3

1. Def. the second intro screen variant is better, much more inviting, and much simpler, I get excited to get started on that journey!
2. I am not sure that you are fully understanding how patronage works, from some of the things you are saying, so let me reiterate to be sure. Patronage is an annual inflation rate, so its in %/year. This m

[2022-10-17 07:11] KubaMikolajczyk commented on #3312
Thank you for the feedback Bedeho :)

1. Which one of the screens is second for you? A or B
![image](https://user-images.githubusercontent.com/31144205/196108520-3115eb5e-6d32-4733-a31f-d7d2c878bea0.png)
2. Yes I understand that it is calculated based on how many tokens user has in that specific moment ( so the calculation will vary each time user sells / or buys) - my idea here was to show some c

[2022-10-17 07:57] #3302 closed, assigned to rafalpawlow

[2022-10-17 07:57] #3256 closed, assigned to rafalpawlow

[2022-10-17 10:58] dmtrjsg opened #3344 "Landing page and onboarding journey variation"
## Context
- https://github.com/Joystream/joystream/issues/4376

Specifically last point:
".. to accommodate this [Launching gleev post-mainnet] is to make sure we have a reasonable variation of our mainnet landing page that works while we are launching, rolling out through the relevant stages, and before Gleev is up and running."

## Scope

* [ ] Create a variation of the marketing website which

[2022-10-17 10:59] dmtrjsg commented on #3344
@bedeho ❓ Does mainnet launch mean that all testnet content will be part of mainnet?

[2022-10-17 11:17] bedeho commented on #3344
no, on mainnet there will be 0 content migration, let alone content that falls within narrower scope of Gleev vs. old Atlas.

[2022-10-17 11:17] #2407 closed, assigned to KubaMikolajczyk, dmtrjsg

[2022-10-17 11:18] #2641 closed, assigned to KubaMikolajczyk

[2022-10-17 11:18] #2688 closed, assigned to KubaMikolajczyk

[2022-10-17 11:18] #2642 closed, assigned to KubaMikolajczyk

[2022-10-17 12:12] bedeho commented on #3312
A

But I think if the user is asked to input X tokens, you cannot later come and give them Y, which is what will happen. No amount of explaining can really overcome this I think. But I think I am fundamentally  a bit lost on why exactly people would have a hard time understanding what this % means, conceptually this is dead simple.

[2022-10-17 12:51] #3171 closed, assigned to drillprop

[2022-10-17 15:55] dmtrjsg commented on #3312
1. Crossed off  - nice looks perfect
2. Quite like the low key steps and combined with the imagery looks very nice 👌
3. I think moving patronage closer to token supply is good as they are logically a bit closer, as inflation is still prob a function of the total supply..  we just need to update the copy and the tooltips (which I will have a go at tomorrow so will be done before eod!)
4. For the ty

[2022-10-17 16:23] #3314 closed, assigned to rafalpawlow

[2022-10-17 17:20] kdembler opened #3347 "Make geolocation service optional"
Currently Atlas will not run if URL for geolocation service is not provided. However, we already support disabling geolocation usage so it should be easy to make the URL optional and also disable that usage if the URL is missing.

[2022-10-17 18:17] bedeho commented on #3312
I don't think it is overkill, but this ultimately boils down to an assumption about how successful we believe the average person will be going through these flows. I think people really will need all the support they can get, the confusion will abound, and bad initial decisions can leave people locked into bad downstream effects. I see these videos as a first-order thing that pretty much everyone

[2022-10-18 06:35] kdembler opened #3348 "Skip Sentry init if DSN is not provided"
Like in the title

[2022-10-18 07:13] drillprop commented on #3340
That is a good idea but I would opt for adding a tooltip - when you hover on for example `1 day ago` in the video view we could display the exact upload date of the video.
![image](https://user-images.githubusercontent.com/51168865/196361172-6fe2fea2-62cc-4f83-a96e-7730250c4c01.png)

@toiletgranny wdyt?

[2022-10-18 07:26] toiletgranny commented on #3340
Actually, @drillprop, [designs for the Video page](https://www.figma.com/file/sMydmZJlzhK91FTIPOd7D2/Video-page?node-id=5886%3A300811) have the absolute timestamp for the video upload date, and it's been this way since I can remember. I'm not sure how we ended up using the relative timestamp in the implementation and how it went unnoticed for so long 😅, but if anything, I'd recommend adjusting the

[2022-10-18 07:30] drillprop commented on #3340
![200w](https://user-images.githubusercontent.com/51168865/196365047-3f843847-8ff2-4a0a-b294-e1227e575ea7.gif)

Whaaat? Okay, we'll fix this then! 😅

[2022-10-18 09:48] dmtrjsg commented on #3344
Ignore this issue

[2022-10-18 09:48] #3344 closed, assigned to dmtrjsg

[2022-10-18 10:35] dmtrjsg commented on #3320
@toiletgranny imho we also need to update this maintenance mode screen to be Gleev branded:

<img width="628" alt="Screenshot 2022-10-18 at 14 29 34" src="https://user-images.githubusercontent.com/93924525/196406876-de7d01ba-abe8-4f3e-ab3c-20ec31f8b66e.png">

Here the concept is that once we are on Mainnet, the app will not be available for some days while the network is rolling out.. It may take

[2022-10-18 11:18] toiletgranny commented on #3320
Totally on board with the copy change suggestion, but not entirely sure now about the logo change. Specifically: should it be the Gleev logo or the Atlas logo?

The reason I'm asking is that just yesterday I was informed by our engineers that I've prematurely removed Atlas-branded product screenshots and Atlas logos from Figma, because — which is something that came to me as a surprise — we will b

[2022-10-18 11:25] dmtrjsg commented on #3320
@toiletgranny Since screen informs users that Gleev app which is presumably referenced in the upstream journey (e.g. marketing website) is not available, I'd say in this case let's use Gleev Logo 👍

[2022-10-18 11:34] kdembler commented on #3320
We've discussed this topic with @bedeho today. The conclusion was this: Gleev will be jsgenesis-managed gateway but we will still have the "default" or "stock" Atlas codebase that will act as a basis for Gleev. We want that default Atlas to work out of the box with its own "Atlas" branding. So the unfortunate consequence is that whenever we prepare an asset (like a product screenshot), we should h

[2022-10-18 12:42] toiletgranny commented on #3320
Ok, thanks for clarifying that!

[2022-10-18 13:07] kdembler commented on #3212
Closing since we reached conclusion and implemented this

[2022-10-18 13:07] #3212 closed, assigned to kdembler, dmtrjsg

[2022-10-18 13:18] toiletgranny commented on #3320
Alright, @kdembler, hope this will do. Hope the copy is okay, @dmtrjsg.

https://www.figma.com/file/xBXWBZMqM0JAydQZ7ZaZ6D/Maintenance-page?node-id=101%3A17142

[2022-10-18 14:04] #3348 closed, assigned to kdembler

[2022-10-18 14:04] #3332 closed, assigned to kdembler

[2022-10-18 14:05] dmtrjsg commented on #2410
@KubaMikolajczyk the copy edits are added to t[his page: ](https://www.figma.com/file/VzPBMpUnGjGOHMSW2ZHbGY/Creator-tokens?node-id=3936%3A297666)

[2022-10-18 14:14] kdembler commented on #859
@KubaMikolajczyk @toiletgranny I guess we have tackled this along the way?

[2022-10-18 14:15] #1618 closed, assigned to nobody

[2022-10-18 14:16] kdembler commented on #1659
Superseded by #3004

[2022-10-18 14:16] #1659 closed, assigned to nobody

[2022-10-18 14:17] kdembler commented on #1772
Will be done as part of https://github.com/Joystream/atlas/issues/3130

[2022-10-18 14:17] #1772 closed, assigned to nobody

[2022-10-18 14:19] #1786 closed, assigned to nobody

[2022-10-18 14:21] kdembler commented on #1840
https://github.com/Joystream/atlas/issues/3172 should take care of this

[2022-10-18 14:21] #1840 closed, assigned to dmtrjsg

[2022-10-18 14:22] kdembler commented on #2144
This should be fixed already

[2022-10-18 14:22] #2144 closed, assigned to nobody

[2022-10-18 14:25] kdembler commented on #2176
Already possible

[2022-10-18 14:25] #2176 closed, assigned to nobody

[2022-10-18 14:26] #2215 closed, assigned to kdembler, TCzechowski, dmtrjsg

[2022-10-18 14:29] kdembler commented on #2571
Done in the new member dropdown

[2022-10-18 14:29] #2571 closed, assigned to toiletgranny

[2022-10-18 14:31] kdembler commented on #2662
That's done!

[2022-10-18 14:31] #2662 closed, assigned to nobody

[2022-10-18 14:32] kdembler commented on #2838
This is done

[2022-10-18 14:32] #2838 closed, assigned to nobody

[2022-10-18 14:33] kdembler commented on #2850
Done

[2022-10-18 14:33] #2850 closed, assigned to nobody

[2022-10-18 16:51] Songoku1691 commented on #3340
Thank you guys!

[2022-10-18 23:38] traumschule opened #3354 "Idea: First-start setup Wizard"
## Context

This was an idea i had testing the latest setup instructions (#3353), It already provides a good quick-start and makes one confident to go through the whole process step by step (vs. feeling overwhelmed).

Installing, starting and building atlas is smooth even without editing a single file. Configuring the subdomain in nginx, requesting the cert with certbot was done during building wh

[2022-10-19 07:04] toiletgranny commented on #859
@kdembler Oh yes, that's tackled.

[2022-10-19 08:00] dmtrjsg opened #3355 "Atlas Carthage Release Overview"
## Context

Carthage network release was the core focus of the runtime and infrastructure since mid June. During this time the Atlas team had to introduce certain changes cascaded down from the runtime team, as well as keep building the features that were introduced in earlier network release - Rhodes, and already took their place in the design and dev pipeline.

This issue encapsulates the scope

[2022-10-19 09:33] #859 closed, assigned to nobody

[2022-10-19 12:02] kdembler commented on #3354
Sorry for that error screen, it's actually because the `atlas-dev` environment is down at the moment since we're so focused on Carthage. If you build from `carthage` branch, then `atlas-next` should be default environment (if it's not, you can change using Ctrl+Shift+d), and that should work smoothly. Once Carthage is out, we will make `atlas-dev` work again so this shouldn't be an issue then.

No

[2022-10-19 16:20] bedeho opened #3356 "Channel boards"
Some sort of either message board or blog posts with replies, perhaps both as distinct features? where creator can reach their audience and audience can connect with each other. Can have really rich permissions that tie into NFT and CRT ownership. Could easily be done on QN, just like comments were.

[2022-10-19 17:54] traumschule commented on #3354
Nice trick, this is close to what i was thinking, just add an `Admin` button to a new separate full-screen interface and it's good to go. The Admin Panel itself could become a `community dev` project.

![ctrl-shft-d](https://user-images.githubusercontent.com/31551045/196767114-2aaa39eb-cabc-40d9-8043-2595338c6166.png)

Authentication: The login screen asks the operator to insert a secret in `$file

[2022-10-20 06:55] dmtrjsg commented on #3355
## Channel Accounts and Funds Mgt

- https://github.com/Joystream/atlas/issues/2873
- https://github.com/Joystream/atlas/issues/2556
- https://github.com/Joystream/atlas/issues/3054
- https://github.com/Joystream/atlas/issues/2942

With this feature we introduce the dedicated channel accounts, in contrast to previously channels sharing the member accounts.

Channel accounts:
- Get credited with th

[2022-10-20 07:18] dmtrjsg commented on #3355
## Joystream Custom Address Format

- https://github.com/Joystream/joystream/issues/181 (runtime)
- https://github.com/Joystream/atlas/issues/2585
- https://github.com/Joystream/atlas/issues/3256

With Carthage, Joystream network adopted a custom [ss58 address format](https://github.com/Joystream/ss58-registry/pull/1). All Joystream addresses are now starting with `J4` prefix. On the UX side, in t

[2022-10-20 09:15] dmtrjsg commented on #3355
## Real TX Fees and Fees Coverage by Locks

- https://github.com/Joystream/atlas/issues/2277
- https://github.com/Joystream/atlas/issues/2825
- https://github.com/Joystream/atlas/issues/2826
- https://github.com/Joystream/atlas/issues/2837
- https://github.com/Joystream/atlas/issues/2899
- https://github.com/Joystream/atlas/issues/2911
- https://github.com/Joystream/atlas/issues/3108
- https://git